.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
  }
  .C845 img {
    margin: 0;
  }
  .C845 p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
  }
  .C845 h3{
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; 
    margin: 0;
    margin-bottom: 16px;
  }

  .C845 ul {
    list-style: none;
    margin: 0;
  }
  .C845 ul li {
    line-height: normal;
  }
  .C845 {
    overflow: hidden;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .C845 ul {
    padding: 0;
  }
  .C845 ul li {
    padding: 0;
  }
  .C845 div {
    padding: 0;
  }
  div.C845 {
    padding: 0;
  }
  .C845 br {
    display: block;
  }
  .product__body .el-tabs__header {
    z-index: 6;
  }


  .C845 {
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
  }
.C845 img{
    width: 100%;
    display: block;
}


/* icons_multi */

.C845 .icons_multi{
    padding: 40px 24px;
    display: grid;
    gap: 16px;
}

.C845 .icons_multi .multi_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a a"
    "b c";

    gap: 16px;
}

.C845 .icons_multi .multi_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.C845 .icons_multi .multi_3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


@media screen and (min-width:666px){

    .C845 h3{
        font-size:24px;
        margin-bottom: 24px;
    }
    .C845 p{
        font-size: 16px;
    }

    .C845 .smallest{
        font-size: 32px;
    }


.C845 .icons_multi{
    padding: 64px;
    gap: 24px;

}

.C845 .icons_multi .multi_1{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas: 
    "a b c";

    gap: 24px;
}

.C845 .icons_multi .multi_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.C845 .icons_multi .multi_3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
    
}

@media screen and (min-width:1024px){ 

    .C845 h3{
        font-size:32px;
        margin-bottom: 32px;
    }
    .C845 p{
        font-size: 18px;
    }


    .C845 .icons_multi{
        padding: 80px;
    }

    .C845 .smallest{
        font-size: 40px;
    }
}
@media screen and (min-width:1366px){ 

    .C845 h3{
        font-size:40px;
    }
    .C845 p{
        font-size: 24px;
    }
    .C845 .icons_multi{
        padding: 80px;
    }
    .C845 .smallest{
        font-size: 50px;
    }
}




/* left_section */

.C845 .left_section{
    padding: 24px 24px 0;
    text-align: center;
    display: grid;
    gap: 24px;
}
.C845 .left_section .left_section_text .ai_motion{
    width: 129px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.C845 .left_section .left_section_text .ai_conrast{
    width: 149px;
    margin: 0 auto;
    margin-bottom: 16px;
}


@media screen and (min-width:666px){
    .C845 .left_section{
        padding: 64px 64px 0;
        grid-template-columns: 43.3% auto;
        align-items: center;
        text-align: left;
        gap: 51px;
        margin: 0 auto;
    }
    /* .C845 .left_section .left_section_text{
        padding-left: 51px;
    } */
    .C845 .left_section .left_section_text img{
        padding-bottom: 16px;
        margin: 0;
        margin-right: auto;
    }
    .C845 .ferst_left{
        padding-top: 40px;
    }

    .C845 .left_section .left_section_text .ai_motion{
        width: 129px;
        margin:0;
        margin-bottom: 17px;
        margin-right: auto;
    }
    .C845 .left_section .left_section_text .ai_conrast{
        width: 149px;
        margin:0;
        margin-bottom: 17px;
        margin-right: auto;
    }



}
@media screen and (min-width:1024px){
    .C845 .left_section{
        padding: 80px 65px 0;
        gap: 73px;

    }
    .C845 .ferst_left{
        padding-top: 56px;
    }

    .C845 .left_section .left_section_text .ai_motion{
        width: 177px;
        margin-bottom: 32px;
    }
    .C845 .left_section .left_section_text .ai_conrast{
        width: 213px;
        margin-bottom: 32px;
    }


}
@media screen and (min-width:1366px){
    .C845 .left_section{
        grid-template-columns: 42.3% auto;
        gap: 105px;
    }
    .C845 .left_section .left_section_text img{
        width: 121px;
        margin-bottom: 24px;

    }

    .C845 .left_section .left_section_text .ai_motion{
        width: 258px;
    }
    .C845 .left_section .left_section_text .ai_conrast{
        width: 298px;
    }
}
/* rigth_section */
.C845 .rigth_section{
    padding: 40px 24px 0;
    text-align: center;
    display: grid;
    gap: 24px;
}




.C845 .rigth_section .rigth_section_text .ai_color{
    width: 103px;
    margin: 0 auto;
    margin-bottom: 17px;
}
.C845 .rigth_section .rigth_section_text .ai_clarity{
    width: 142px;
    margin: 0 auto;
    margin-bottom: 17px;
}
.C845 .rigth_section .rigth_section_text .ai_hdr{
    width: 79px;
    margin: 0 auto;
    margin-bottom: 17px;
}

@media screen and (min-width:666px){

.C845 .rigth_section{
     padding: 64px 64px 0;
        grid-template-columns:auto 43.3% ;
        align-items: center;
        text-align: left;
        gap: 51px;
        margin: 0 auto;

    }
    .C845 .rigth_section .rigth_section_text{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .C845 .rigth_section .rigth_section_text img{
        margin: 0;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .C845 .rigth_section .rigth_section_text .ai_color{
        width: 103px;
        margin:0;
        margin-bottom: 17px;
        margin-right: auto;

    }
    .C845 .rigth_section .rigth_section_text .ai_clarity{
        width: 142px;
        margin:0;
        margin-bottom: 17px;
        margin-right: auto;
    }
    .C845 .rigth_section .rigth_section_text .ai_hdr{
        width: 79px;
        margin:0;
        margin-bottom: 17px;
        margin-right: auto;
}
}
@media screen and (min-width:1024px){
    .C845 .rigth_section{
     padding: 80px 64px 0;
    gap: 73px;
    }

    .C845 .rigth_section .rigth_section_text .ai_color{
        width: 145px;
        margin-bottom: 32px;

    }
    .C845 .rigth_section .rigth_section_text .ai_clarity{
        width: 213px;
        margin-bottom: 32px;
    }
    .C845 .rigth_section .rigth_section_text .ai_hdr{
        width: 115px;
        margin-bottom: 32px;
}
}
@media screen and (min-width:1366px){

    .C845 .rigth_section{
        grid-template-columns:auto 42.3% ;
        gap:105px
    }
    

    .C845 .rigth_section .rigth_section_text .ai_color{
        width: 210px;

    }
    .C845 .rigth_section .rigth_section_text .ai_clarity{
        width: 284px;
    }
    .C845 .rigth_section .rigth_section_text .ai_hdr{
        width: 166px;
}

}


/* section_three */

.C845 .section_three{
    padding: 40px 24px 0;
    display: grid;
    text-align: center;
    gap: 16px;
}

.C845 .section_three .three_container{
    display: grid;
    gap: 16px;
}
.C845 .section_three .three_container h3{
    font-size: 18px;
}

@media screen and (min-width:666px){
    .C845 .section_three{
        padding: 64px 64px 0;
        grid-template-columns: repeat(3, 1fr);
        align-items: self-start;
        text-align: left;
        gap: 24px;
    }
    .C845 .section_three .three_container{
        gap: 24px;
    }
    .C845 .section_three .three_container h3{
        margin-right: 20px;

    }

}
@media screen and (min-width:1024px){
    .C845 .section_three{
        padding: 80px 64px 0;
        gap: 24px;
    }
    .C845 .section_three .three_container{
        gap: 32px;
    }
    .C845 .section_three .three_container h3{
        margin-right: 20px;
    }
    .C845 .section_three .three_container h3{
        font-size: 24px;
    }

}
@media screen and (min-width:1366px){
    .C845 .section_three .three_container h3{
        margin-right: 0px;
    }
    .C845 .section_three .three_container h3{
        font-size: 32px;
    }
    .C845 .section_three .three_container p{
        font-size: 22px;
    }
}


/* center_img */


.C845 .center_img{
    padding: 40px 24px 24px;
}

@media screen and (min-width:666px){
    .C845 .center_img{
        padding: 64px 64px 24px;
    }
}
@media screen and (min-width:1024px){
    .C845 .center_img{
        padding: 80px 64px;
    }
}



/* black_section */

.C845 .black_section{
    padding: 0 64px;
}

.C845 .black_block{
    display: grid;
    gap: 16px;
    padding: 24px 0 24px;
}

.C845 .black_block p,
.C845 .black_block h3{
    color: white;
}
.C845 .black_block h3{
    font-size: 32px;
    padding-right: 45px;
    margin-bottom: 24px;
}

.C845 .black_block .black_text img{
    width: 55px;
    margin-bottom: 24px;
}

.C845 .black_block .black_text{
    padding: 0 24px;
}

@media screen and (min-width:666px){
.C845 .black_block{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 64px 0 64px;
    gap: 0;


}
.C845 .black_section .black_text{
    padding: 0 24px 0 64px;
}

}

@media screen and (min-width:1024px){
    .C845 .black_block h3{
        font-size: 32px;
    }
    .C845 .black_block .black_text img{
        width: 81px;
        margin-bottom: 32px;
    }

}
@media screen and (min-width:1366px){
    .C845 .black_block h3{
        font-size: 40px;
    }
    .C845 .black_block .black_text img{
        width: 121px;
        margin-bottom: 32px;
    }
}


/* section_center */
.C845 .section_center{
    text-align: center;
    padding: 40px 24px 0;
    display: grid;
    gap: 24px;
    position: relative;
}

.C845 .section_center .last_text{
    padding: 24px 164px 24px 24px;
    background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725607/im_04-13.png?_t=1693334344");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    text-align: left;

}
.C845 .section_center .last_text p{
    font-size: 12px;
    color: white;
}

@media screen and (min-width:666px){
    .C845 .section_center{
        padding: 64px 64px 0;
    }

    .C845 .section_center .last_text{
        padding: 64px 308px 64px 64px;
        background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725607/im_04-12.png?_t=1693334344");

    }
    .C845 .section_center .last_text p{
        font-size: 16px;

    }
}
@media screen and (min-width:1024px){
    .C845 .section_center{
        padding: 80px 64px 0;
    }
    .C845 .section_center .last_text{
        padding: 80px 436px 80px 80px;
    }
    .C845 .section_center .last_text p{
        font-size: 18px;
    }

    .C845 .section_center .game{
        padding:0 50px;
    }
    
}

@media screen and (min-width:1024px){

    .C845 .section_center .last_text{
        padding: 85.5px 631px 85.5px 64px;
    }
    .C845 .section_center .last_text p{
        font-size: 24px;
    }
    .C845 .section_center .prostir{
        padding: 0 100px;
    }
}