.product__description.base-padding {
        padding: 0;
        border-radius: 0px;
        }
        .LG_F2J6H img {
          margin: 0;
        }
        .LG_F2J6H p {
          padding: 0;
          margin: 0;
          color: #000;
          font-family: 'Roboto' ,sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
        .LG_F2J6H h3 {
          color: #000;
          font-family: 'Roboto',sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%;
          margin: 0;
          margin-bottom: 10px;
        }
        .LG_F2J6H h2 {
          color: #000;
          font-family: 'Roboto',sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          margin: 0;
          margin-bottom: 12px;
        }
        .LG_F2J6H ul {
          list-style: disc;
          margin: 0;
        }
        .LG_F2J6H ul li {
          line-height: normal;
          color: #000;
          font-family: 'Roboto',sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
        .LG_F2J6H {
          overflow: hidden;
        }
        body {
          padding: 0;
          margin: 0;
        }
        .LG_F2J6H ul {
          padding: 0;
          padding-left: 20px;
        }
        .LG_F2J6H ul li {
          padding: 0;
        }
        .LG_F2J6H div {
          padding: 0;
        }
        div.LG_F2J6H {
          padding: 0;
        }
        .LG_F2J6H br {
          display: block;
        }
        .product__body .el-tabs__header {
          z-index: 6;
        }
        .LG_F2J6H{
          max-width: 1366px;
          margin: 0 auto;
          overflow-x: hidden;
        }
        .LG_F2J6H img{
          width: 100%;
          display: block;
        }
        .LG_F2J6H .white_text{
          color:#fff;
        }
        .LG_F2J6H .notes p{
          font-size: 12px;
        }
        .LG_F2J6H .perfect_wash{
          background: rgb(58, 57, 58);
        }
        .LG_F2J6H .perfect_wash .perfect_wash_text{
          text-align: center;
          padding: 32px 16.5px 0;
        }
        .LG_F2J6H .perfect_wash .perfect_wash_text p{
          font-size: 16px;
        }
        .LG_F2J6H .perfect_wash .perfect_wash_text h3{
          padding: 0 20.5px;
        }
        .LG_F2J6H .perfect_wash .notes{
          background: #000;
          padding: 32px 16px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .perfect_wash .perfect_wash_text{
            padding: 32px 61px 0;
          }
          .LG_F2J6H .perfect_wash .notes{
            padding: 32px;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H h3{
            font-size: 24px;
            margin-bottom: 14px;
          }
          .LG_F2J6H p{
            font-size: 18px;
          }
          .LG_F2J6H .notes p{
            font-size: 14px;
          }
          .LG_F2J6H .perfect_wash .perfect_wash_text{
            padding: 42px 96px 0;
          }
          .LG_F2J6H .perfect_wash .notes{
            padding: 42px;
          }
          .LG_F2J6H .perfect_wash .perfect_wash_text p{
            font-size: 18px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H h3{
            font-size: 32px;
            margin-bottom: 20px;
          }
          .LG_F2J6H p{
            font-size: 24px;
          }
          .LG_F2J6H .notes p{
            font-size: 14px;
          }
          .LG_F2J6H .perfect_wash .perfect_wash_text{
            padding: 60px 248px 0;
          }
          .LG_F2J6H .perfect_wash .notes{
            padding: 40px 60px;
          }
          .LG_F2J6H .perfect_wash .perfect_wash_text p{
            font-size: 24px;
          }
        }
        /* quiet_operation */
        .LG_F2J6H .quiet_operation{
          position: relative;
          padding: 40px 16px;
          display: grid;
          gap: 40px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .quiet_operation{
            padding: 0;
            gap: 0px;
            align-items: center;
            grid-template-columns:repeat(2,1fr) ;
          }
          .LG_F2J6H .quiet_operation .quiet_operation_text{
            padding: 0 32px;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H .quiet_operation .quiet_operation_text{
            padding: 0 42px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .quiet_operation{
            grid-template-columns: none;
          }
          .LG_F2J6H .quiet_operation .quiet_operation_text{
            padding: 0px;
            left: 60px;
            position: absolute;
            width: 555px;
          }
        }
        /* efficiency */
        .LG_F2J6H .efficiency .efficiency_text{
          padding: 32px 16px;
          text-align: center;
        }
        .LG_F2J6H .efficiency .top_disc{
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: 700;
        }
        .LG_F2J6H .efficiency .notes{
          padding: 32px 16px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .efficiency .notes{
            padding: 32px;
          }
             .LG_F2J6H .efficiency .efficiency_text{
            padding: 32px 117.3px;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H .efficiency .efficiency_text{
            padding: 42px 169px;
          }
          .LG_F2J6H .efficiency .notes{
            padding: 42px;
          }
          .LG_F2J6H .efficiency .top_disc{
            font-size: 22px;
            margin-bottom: 14px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .efficiency .efficiency_text{
            padding: 60px 283px;
          }
          .LG_F2J6H .efficiency .notes{
            padding: 60px;
          }
          .LG_F2J6H .efficiency .top_disc{
            font-size: 28px;
            margin-bottom: 20px;
          }
        }
        /* elelegant_design */
        .LG_F2J6H .elelegant_design{
          text-align: left;
          display: grid;
          gap:40px ;
          padding: 40px 16px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .elelegant_design{
            padding: 0;
            gap: 0;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
          }
          .LG_F2J6H .elelegant_design .elelegant_design_text{
            padding-right:45px;
            padding-left: 32px;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H .elelegant_design .elelegant_design_text{
            padding-right:53px;
            padding-left: 42px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .elelegant_design .elelegant_design_text{
            padding-right:75px;
            padding-left: 60px;
          }
        }
        
        /* smart_diagnosis  */
        .LG_F2J6H .smart_diagnosis{
          text-align: center;
          display: grid;
          background: rgb(12, 12, 12);
        }
        .LG_F2J6H .smart_diagnosis .smart_diagnosis_text{
          padding: 32px 16px;
          text-align: left;
        }
        .LG_F2J6H .smart_diagnosis .smart_diagnosis_text h3{
            padding-right: 110px;
        }
        .LG_F2J6H .smart_diagnosis .smart_diagnosis_text img{
            margin-top: 10px;
            width: 70px;
        }

        @media screen and (min-width:666px) {
            .LG_F2J6H .smart_diagnosis{
                grid-template-columns: repeat(2,1fr);
                align-items: center;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text h3{
                padding-right: 70px;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text{
                padding: 0 26px 0 32px;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text img{
                margin-top: 10px;
                width:40px;
            }

        }
        @media screen and (min-width:1024px) {
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text h3{
                padding-right: 90px;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text{
                padding: 0 55px 0 42px;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text img{
                margin-top: 20px;
                width:61px;
            }
        }
        @media screen and (min-width:1366px) {
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text h3{
                padding-right: 90px;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text{
                padding: 0 70px 0 60px;
            }
            .LG_F2J6H .smart_diagnosis .smart_diagnosis_text img{
                margin-top: 20px;
                width:91px;
            }
        }

        /* communication_system */

        .LG_F2J6H .communication_system{
            display: grid;
            gap: 40px;
            padding: 40px 16px;
        }

        .LG_F2J6H .communication_system .notes{
            padding-top: 10px;
        }


        @media screen and (min-width:666px) {
            .LG_F2J6H .communication_system{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                padding: 0;
                gap: 0;
            }
            .LG_F2J6H .communication_system .communication_system_text{
                grid-row-start: 1;
                grid-column-start: 2;
                padding: 0 30px 0 40px;

            }
        }

        @media screen and (min-width:1024px) {

            .LG_F2J6H .communication_system .communication_system_text{
                padding: 0 42px 0 58px;
            }
        }
        @media screen and (min-width:1366px) {

            .LG_F2J6H .communication_system .communication_system_text{
                padding: 0 60px 0 77px;
            }
        }



    /* diagnosis */

    .LG_F2J6H .diagnosis{
        display: grid;
        gap: 32px ;
        padding: 0px 16px 40px;
        text-align: center;
    }

    .LG_F2J6H .diagnosis .notes{
        text-align: left;
    }
    @media screen and (min-width:666px) {

        .LG_F2J6H .diagnosis{
            padding: 42px 0px;
        }
        .LG_F2J6H .diagnosis .diagnosis_text{
            padding: 0 65px;
        }

        .LG_F2J6H .diagnosis .notes{
            padding: 0 32px;
        }
    }
    @media screen and (min-width:1024px) {

        .LG_F2J6H .diagnosis{
            padding: 58px 0px;
            gap: 42px;
        }
        .LG_F2J6H .diagnosis .diagnosis_text{
            padding: 0 95px;
        }

        .LG_F2J6H .diagnosis .notes{
            padding: 0 42px;
        }
    }
    @media screen and (min-width:1366px) {

        .LG_F2J6H .diagnosis{
            padding: 60px 0px;
            gap: 60px;
        }
        .LG_F2J6H .diagnosis .diagnosis_text{
            padding: 0 283px;
        }

        .LG_F2J6H .diagnosis .notes{
            padding: 0 60px;
        }
    }


    /* add_items */


    .LG_F2J6H .add_items{
        display: grid;
    }
    .LG_F2J6H .add_items .add_items_text{
        padding: 32px 16px;
        text-align: center;
    }
    
    .LG_F2J6H .add_items .notes{
        padding: 32px 16px ;
        background: rgb(0, 0, 0);;
    }
    
    @media screen and (min-width:666px) {
        .LG_F2J6H .add_items .add_items_text{
            padding: 32px 70px;
        }
        .LG_F2J6H .add_items .notes{
            padding: 32px ;
        }
    }

    @media screen and (min-width:1024px) {
        .LG_F2J6H .add_items .add_items_text{
            padding: 42px 118px;
        }
        .LG_F2J6H .add_items .notes{
            padding: 42px ;
        }
    }
    @media screen and (min-width:1366px) {
        .LG_F2J6H .add_items .add_items_text{
            padding: 60px 279px;
        }
        .LG_F2J6H .add_items .notes{
            padding: 60px ;
        }
    }



        /* differential_control */
        .LG_F2J6H .differential_control{
          text-align: center;
          background: #000;
        }
        .LG_F2J6H .differential_control .differential_control_text{
          padding: 32px 16px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .differential_control .differential_control_text{
            padding: 32px 65px;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H .differential_control .differential_control_text{
            padding: 42px 109px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .differential_control .differential_control_text{
            padding: 60px 283px;
          }
        }
        /* ten_years */
        .LG_F2J6H .ten_years{
          text-align: center;
          background: #000;
        }
        .LG_F2J6H .ten_years .ten_years_text{
          padding: 32px 16px;
        }
        .LG_F2J6H .ten_years .notes{
          padding: 32px 16px;
          text-align: left;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .ten_years .ten_years_text{
            padding: 32px 70px;
          }
          .LG_F2J6H .ten_years .notes{
            padding: 32px;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H .ten_years .ten_years_text{
            padding: 42px 96px;
          }
          .LG_F2J6H .ten_years .notes{
            padding: 42px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .ten_years .ten_years_text{
            padding: 60px 283px;
          }
          .LG_F2J6H .ten_years .ten_years_text h3{
            padding: 0px 109px;
          }
          .LG_F2J6H .ten_years .notes{
            padding: 60px;
            background: #000;
          }
        }
        /* choice_year */
        .LG_F2J6H .choice_year{
          padding: 40px 16px;
          text-align: center;
          display: grid;
          gap: 32px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .choice_year{
            padding: 42px 88px;
          }
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .choice_year{
            padding: 58px 118px;
            gap: 42px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .choice_year{
            padding: 80px 166px;
            gap: 60px;
          }
        }
        /* sizes */
        .LG_F2J6H .sizes{
            padding-bottom: 40px;
        }
        .LG_F2J6H .sizes .sizes_front{
          padding:0 96px 0 50px;
        }
        .LG_F2J6H .sizes .sizes_beak{
          padding:0 97px;
        }
        @media screen and (min-width:666px) {
          .LG_F2J6H .sizes{
            padding: 0 91px 40px;
            display: grid;
            gap: 54px;
            grid-template-columns: 1.55fr 1fr;
          }
          .LG_F2J6H .sizes .sizes_beak,
          .LG_F2J6H .sizes .sizes_front{
            padding:0;
          }
        }
        @media screen and (min-width:1024px) {
          .LG_F2J6H .sizes{
            padding: 0 230px 40px;
            gap: 100px;
          }
        }
        @media screen and (min-width:1366px) {
          .LG_F2J6H .sizes{
            padding: 0 272px 80px;
            gap: 140px;
          }
        }