.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
  }
  .kivi_kid img {
    margin: 0;
  }
  .kivi_kid p {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: 'Roboto' ,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .kivi_kid h3 {
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
    margin-bottom: 14px;
    text-transform: uppercase;

  }
  .kivi_kid span {
    font-family: 'Roboto',sans-serif;
  }
  .kivi_kid .big_title{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 28.6px */
    text-transform: uppercase;
  }
  .kivi_kid h2 {
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin: 0;

  }
  .kivi_kid ul {
    list-style: disc;
    margin: 0;
  }
  .kivi_kid ul li {
    line-height: normal;
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .kivi_kid {
    overflow: hidden;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .kivi_kid ul {
    padding: 0;
    padding-left: 20px;
  }
  .kivi_kid ul li {
    padding: 0;
  }
  .kivi_kid div {
    padding: 0;
  }
  div.kivi_kid {
    padding: 0;
  }
  .kivi_kid br {
    display: block;
  }
  .product__body .el-tabs__header {
    z-index: 6;
  }
  .kivi_kid{
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
    background: #FFF;
  }
  .kivi_kid img{
    width: 100%;
    display: block;
  }




  /* changes_phenomena */

.kivi_kid .changes_phenomena{
    position: relative;
    background: linear-gradient(158deg, #D1F8FF 9.29%, #FFF 29.94%, #FFF 65.6%, #D1F8FF 88.11%);
}
.kivi_kid .changes_phenomena .changes_phenomena_first{
    display: grid;
    gap: 18px;
    padding: 42px 16px;
    text-align: center;
}
.kivi_kid .changes_phenomena .changes_phenomena_text{
    display: grid;
    gap: 16px;
    padding: 0 28.5px;
}
.kivi_kid .changes_phenomena .ping_text{
    background: linear-gradient(90deg, #E26089 0%, #BC67F7 38.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kivi_kid .changes_phenomena .changes_phenomena_last{
    padding: 0 16px 102px;
    text-align: center;
}
.kivi_kid .changes_phenomena .changes_phenomena_last h3{
    padding: 0 40px 20px;
    margin: 0;
}
.kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block{
    display: grid;
    gap: 18px;
}
.kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block .changes_item{
    border-radius: 40px;
}
.kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block .changes_item:first-child{
    box-shadow: 0px 7.379px 17.921px 0px rgba(251, 71, 134, 0.60);
}
.kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block .changes_item:nth-child(2){
    box-shadow: 0px 7.379px 17.921px 0px rgba(120, 94, 222, 0.60);
}
.kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block .changes_item:nth-child(3){
    box-shadow: 0px 7.379px 17.921px 0px rgba(0, 193, 255, 0.60);
}
.kivi_kid .changes_phenomena .fon_mottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 200%;
    z-index: 1;

}

.kivi_kid .changes_phenomena .yellow_half,
.kivi_kid .changes_phenomena .pink_half,
.kivi_kid .changes_phenomena .blue_half_bottom,
.kivi_kid .changes_phenomena .purple_whole_bottom,
.kivi_kid .changes_phenomena .blue_half_top,
.kivi_kid .changes_phenomena .purple_whole_top{
    position: absolute;
}


.kivi_kid .changes_phenomena .yellow_half{
    width: 70px;
    top: 446px;
    left: 0;
}
.kivi_kid .changes_phenomena .pink_half{
    width: 62px;
    top: 0;
    left: 0;
    z-index: 2;
}
.kivi_kid .changes_phenomena .blue_half_bottom{
    width: 62px;
    top: 0;
    right: 0
}
.kivi_kid .changes_phenomena .purple_whole_bottom{
    width: 86px;
    top: 0;
    left: 0;
    z-index: 1;
}
.kivi_kid .changes_phenomena .blue_half_top{
    bottom: 0;
    left: 0;
    width: 62px;
    z-index: 2;
    transform: rotate(180deg);
}
.kivi_kid .changes_phenomena .purple_whole_top{
    width: 113px;
    bottom: -33px;
    right: 0;
    z-index: 2;
}







@media screen and (min-width:666px) {
    .kivi_kid .changes_phenomena .changes_phenomena_first{
        padding: 42px 70px;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        text-align: left;
        gap: 0;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_text{
        padding: 0;
        padding-right: 25px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block{
        grid-template-columns: repeat(3,1fr);
        padding: 0 108px;
    }
    .kivi_kid .changes_phenomena .fon_mottom{
        width: 100%;
        left: 0;
        transform: none;
    }



    .kivi_kid .changes_phenomena .yellow_half{
        width: 70px;
        top: 231px;
        left: 0;
    }
    .kivi_kid .changes_phenomena .pink_half{
        width: 62px;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .kivi_kid .changes_phenomena .blue_half_bottom{
        width: 62px;
        top: 0;
        right: 0
    }
    .kivi_kid .changes_phenomena .purple_whole_bottom{
        width: 112px;
        top: 0;
        left: 201px;
        z-index: 1;
    }
    .kivi_kid .changes_phenomena .blue_half_top{
        bottom: 0;
        left: 0;
        width: 62px;
        z-index: 2;
        transform: rotate(180deg);
    }
    .kivi_kid .changes_phenomena .purple_whole_top{
        width: 113px;
        bottom: -33px;
        right: 182px;
        z-index: 2;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid p{
        font-size: 18px;
    }
    .kivi_kid h2{
        font-size: 38px;
    }
    .kivi_kid .big_title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_first{
        padding: 58px 94px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_text{
        padding-right: 30px;
        gap: 20px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last h3{
        padding-bottom: 28px;
        font-size: 30px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last{
        padding-bottom: 140px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block{
        padding: 0 149px;
        gap: 24px;
    }
    .kivi_kid .changes_phenomena .fon_mottom{
        width: 100%;
        left: 0;
        transform: none;
    }




    .kivi_kid .changes_phenomena .yellow_half{
        width: 94px;
        top: 319px;
        left: 0;
    }
    .kivi_kid .changes_phenomena .pink_half{
        width: 86px;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .kivi_kid .changes_phenomena .blue_half_bottom{
        width: 86px;
        top: 0;
        right: 0
    }
    .kivi_kid .changes_phenomena .purple_whole_bottom{
        width: 153px;
        top: 0;
        left: 271px;
        z-index: 1;
    }
    .kivi_kid .changes_phenomena .blue_half_top{
        bottom: 0;
        left: 0;
        width: 86px;
        z-index: 2;
        transform: rotate(180deg);
    }
    .kivi_kid .changes_phenomena .purple_whole_top{
        width: 153px;
        bottom: -45px;
        right: 247px;
        z-index: 2;
    }
}
@media screen and (min-width:1366px) {
    .kivi_kid p{
        font-size: 24px;
    }
    .kivi_kid h2{
        font-size: 52px;
    }
    .kivi_kid .big_title{
        font-size: 42px;
        margin-bottom: 28px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_first{
        padding: 80px 142px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_text{
        padding-right: 30px;
        gap: 20px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last h3{
        padding-bottom: 40px;
        font-size: 42px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last{
        padding-bottom: 180px;
    }
    .kivi_kid .changes_phenomena .changes_phenomena_last .changes_phenomena_block{
        padding: 0 219.5px;
        gap: 24px;
    }
    .kivi_kid .changes_phenomena .fon_mottom{
        width: 100%;
        left: 0;
        transform: none;
    }



    .kivi_kid .changes_phenomena .yellow_half{
        width: 142px;
        top: 423px;
        left: 0;
    }
    .kivi_kid .changes_phenomena .pink_half{
        width: 120px;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .kivi_kid .changes_phenomena .blue_half_bottom{
        width: 120px;
        top: 0;
        right: 0
    }
    .kivi_kid .changes_phenomena .purple_whole_bottom{
        width: 221px;
        top: 0;
        left: 378px;
        z-index: 1;
    }
    .kivi_kid .changes_phenomena .blue_half_top{
        bottom: 0;
        left: 0;
        width: 120px;
        z-index: 2;
        transform: rotate(180deg);
    }
    .kivi_kid .changes_phenomena .purple_whole_top{
        width: 212px;
        bottom: -55px;
        right: 352px;
        z-index: 2;
    }
}

/* play */

.kivi_kid .play{
    padding: 42px 16px;
    text-align: center;
    display: grid;
    gap: 18px;
    position: relative;
}
.kivi_kid .play .ping_text{
    background: linear-gradient(90deg, #E26089 0%, #BC67F7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.kivi_kid .play .play_text .mini_text{
    display: grid;
    gap: 10px;
}
.kivi_kid .play .red_cube{
    position: absolute;
    width: 74px;
    top: -35px;
    left: 77px;
    z-index: 2;
}


@media screen and (min-width:666px) {
    .kivi_kid .play{
        padding: 42px 70px;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: left;
    }
    .kivi_kid .play .play_text{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .kivi_kid .play .red_cube{
        width: 74px;
        top: 0px;
        left: 239px;
    }
}
@media screen and (min-width:1024px) {
    .kivi_kid .play{
        padding: 58px 94px;
    }

    .kivi_kid .play .ping_text:nth-child(2){
        font-size: 20px;
        margin-bottom: 16px;
        text-transform: none;   
    }
    .kivi_kid .play .red_cube{
        width: 101px;
        top: 0px;
        left: 323px;
    }
}
@media screen and (min-width:1366px) {
    .kivi_kid .play{
        padding: 80px 142px;
    }

    .kivi_kid .play .ping_text:nth-child(2){
        font-size: 26px;
        margin-bottom: 20px;
    }
    .kivi_kid .play .red_cube{
        width: 130px;
        top: 0px;
        left: 459px;
    }
}

/* one_img */

.kivi_kid .one_img{
    position: relative;
}
.kivi_kid .one_img .font_top{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 200%;
    z-index: 1;
}
.kivi_kid .one_img .yellow_whole{
    position: absolute;
    top: 0;
    width: 113px;
    left: -70px;
    z-index: 2;
}

@media screen and (min-width:666px) {
    .kivi_kid .one_img .font_top{
        transform: none;
        left: 0;
        width: 100%;
    }
    .kivi_kid .one_img .yellow_whole{
        top: 0;
        width: 113px;
        left: 88px;
    }
}
@media screen and (min-width:1024px) {
    .kivi_kid .one_img .yellow_whole{
        top: 0;
        width: 153px;
        left: 118px;
    }
}
@media screen and (min-width:1366px) {
    .kivi_kid .one_img .yellow_whole{
        top: 0;
        width: 211px;
        left: 167px;
    }
}


/* alumiglow */

.kivi_kid .alumiglow{
    background: #2B3A55;
    position: relative;
}

.kivi_kid .alumiglow .alumiglow_text{
    padding: 42px 16px 20px;
    text-align: center;
}
.kivi_kid .alumiglow .alumiglow_text .big_title{
    padding: 0 60px;
}

.kivi_kid .alumiglow .botom_img{
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width:666px) {
    .kivi_kid .alumiglow .alumiglow_text{
        padding: 42px 113px 20px;
    }
    .kivi_kid .alumiglow .alumiglow_text .big_title{
        padding: 0;
        margin-bottom: 16px;
    }
    .kivi_kid .alumiglow .alumiglow_text p{
        padding: 0 10px;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid .alumiglow .alumiglow_text{
        padding: 58px 152px 28px;
    }
    .kivi_kid .alumiglow .alumiglow_text p{
        padding: 0 10px;
    }
}

@media screen and (min-width:1366px) {
    .kivi_kid .alumiglow .alumiglow_text{
        padding: 80px 213.5px 40px;
    }
    .kivi_kid .alumiglow .alumiglow_text p{
        padding: 0 10px;
    }
}



/* integration */

.kivi_kid .integration {
    background: #1f1f1f;
    padding: 42px 0;
}

.kivi_kid .integration .integration_text{
    padding: 0 16px;
    text-align: center;
}
.kivi_kid .integration .integration_text .big_title{
    padding: 0 10px;
}


@media screen and (min-width:666px) {
    .kivi_kid .integration {
        padding: 42px 69px 0;
    }
    .kivi_kid .integration .integration_text{
    padding: 0 60px;    
    }
    .kivi_kid .integration .integration_text p{
        padding: 0 20px;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid .integration {
        padding: 58px 94px 0;
    }
    .kivi_kid .integration .integration_text{
        padding: 0 100px;    
    }
    .kivi_kid .integration .integration_text p{
        padding: 0;
    }
    .kivi_kid .integration .integration_text .big_title{
        padding: 0;
    }
}

@media screen and (min-width:1366px) {
    .kivi_kid .integration {
        padding: 58px 142px 0;
    }
    .kivi_kid .integration .integration_text{
        padding: 0 120px;    
    }
    .kivi_kid .integration .integration_text p{
        padding: 0;
    }
    .kivi_kid .integration .integration_text .big_title{
        padding: 0;
    }
}

/* dirabyly */

.kivi_kid .dirabyly {
    padding: 42px 16px;
    text-align: center;
    display: grid;
    gap: 20px;
    position: relative;
}
.kivi_kid .dirabyly .dirabyly_block{
    display: grid;
    gap: 18px;
}

.kivi_kid .dirabyly .dirabyly_text{
    padding: 0 30px;
}
.kivi_kid .dirabyly .big_title{
    padding: 0 65px;
    margin-bottom: 0;
}
.kivi_kid .dirabyly .dirabyly_text .big_dics{
    background: linear-gradient(90deg, #E26089 0%, #BC67F7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Roboto';
}

.kivi_kid .dirabyly .dirabyly_text .block_glass{
    display: grid;
    gap: 12px;
    text-align: left;
    margin-top: 12px;
}

.kivi_kid .dirabyly .dirabyly_text .block_glass_item{
    display: grid;grid-template-columns: 18px auto;
    gap: 10px;

}

.kivi_kid .dirabyly .pink_half{
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
}

.kivi_kid .dirabyly .big_pink_cobe{
    position: absolute;
    bottom:0;
    right:0;
    width: 46px;
}




@media screen and (min-width:666px) {
    .kivi_kid .dirabyly {
        padding: 42px 70px;
    } 
    .kivi_kid .dirabyly .big_title{
        padding:0 90px ;
    }
    .kivi_kid .dirabyly .dirabyly_block{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .kivi_kid .dirabyly .dirabyly_text .big_dics{
        text-align: left;
    }
    .kivi_kid .dirabyly .dirabyly_text{
        grid-column-start: 2;
        grid-row-start: 1;
        padding: 0;
    }
    .kivi_kid .dirabyly .pink_half{
        top: 0;
        left: 0;
        width: 64px;
    }
    .kivi_kid .dirabyly .big_pink_cobe{
        bottom:0;
        right:0;
        width: 70px;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid .dirabyly {
        padding: 42px 70px;
    } 
    .kivi_kid .dirabyly .big_title{
        padding:0 90px ;
    }
    .kivi_kid .dirabyly .dirabyly_block{
        gap: 24px;
    }
    .kivi_kid .dirabyly .dirabyly_text .big_dics{
        font-size:20px ;
    }
    .kivi_kid .dirabyly .dirabyly_text .block_glass{
        gap: 16px;
        margin-top: 16px;
    }
    .kivi_kid .dirabyly .dirabyly_text .block_glass_item{
        display: grid;grid-template-columns: 24px auto;
        gap: 10px;
    }
    .kivi_kid .dirabyly .pink_half{
        top: 0;
        left: 0;
        width: 86px;
    }
    .kivi_kid .dirabyly .big_pink_cobe{
        bottom:0;
        right:0;
        width: 94px;
    }
}

@media screen and (min-width:1366px) {
    .kivi_kid .dirabyly{
        padding: 80px 142px;
    }
    .kivi_kid .dirabyly .big_title{
        padding: 0 160px;
    }
    .kivi_kid .dirabyly .dirabyly_text .block_glass_item{
        display: grid;grid-template-columns: 32px auto;
        gap: 10px;
    }
    .kivi_kid .dirabyly .dirabyly_text .big_dics{
        font-size: 26px;
    }
    .kivi_kid .dirabyly .pink_half{
        top: 0;
        left: 0;
        width: 120px;
    }
    
    .kivi_kid .dirabyly .big_pink_cobe{
        bottom:0;
        right:0;
        width: 142px;
    }
    
}

/* .review */
.kivi_kid .review{
    position: relative;
}

.kivi_kid .review .review_text{
    padding: 42px 16px 20px; 
    text-align: center;
}
.kivi_kid .review .review_text p{
    padding: 0 20px;
}

.kivi_kid .review .review_text_center{
    padding: 0 16px;
    text-align: center;
    display: grid;
    gap: 18px;
}

.kivi_kid .review .review_text_center h3{
    background: linear-gradient(90deg, #E26089 0%, #BC67F7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 6px;
}

.kivi_kid .review .review_img{
    margin-top: -55px;
}

.kivi_kid .review .blue_half_top{
    position: absolute;
    bottom: 216px;
    width: 64px;
    left: 0;
    transform: rotate(180deg);
}

@media screen and (min-width:666px) {
    .kivi_kid .review .review_text_center{
        grid-template-columns: repeat(3,1fr);
        text-align: left;
        gap: 18px;
        padding: 0 70px;
    }
    .kivi_kid .review .review_text{
        padding:42px 120px 20px;
    }
    .kivi_kid .review .review_text p{
        padding: 0 85px;
    }
    .kivi_kid .review .review_img{
        margin-top: -140px;
    }
    .kivi_kid .review .blue_half_top{
        bottom: 133px;
        width: 64px;
        left: 0;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid .review .review_text_center{
        text-align: left;
        gap: 24px;
        padding: 0 94px;
    }
    .kivi_kid .review .review_text{
        padding:58px 199px 28px;
    }
    .kivi_kid .review .review_text p{
        padding: 0 80px;
    }
    .kivi_kid .review .review_img{
        margin-top: -190px;
    }
    .kivi_kid .review .review_text_center h3{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .kivi_kid .review .blue_half_top{
        bottom: 140px;
        width: 86px;
        left: 0;
    }
}

@media screen and (min-width:1366px) {
    .kivi_kid .review .review_text_center{
        text-align: left;
        gap: 24px;
        padding: 0 142px;
    }
    .kivi_kid .review .review_text{
        padding:80px 199px 40px;
    }
    .kivi_kid .review .review_text p{
        padding: 0 160px;
    }
    .kivi_kid .review .review_img{
        margin-top: -250px;
    }
    .kivi_kid .review .review_text_center h3{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .kivi_kid .review .blue_half_top{
        bottom: 220px;
        width: 120px;
        left: 0;
    }
}


/* no_worries */

.kivi_kid .no_worries{
    display: grid;
    gap: 20px;
    position: relative;
}

.kivi_kid .no_worries .no_worries_text{
    padding: 0 16px;
    text-align: center;
}

.kivi_kid .no_worries .no_worries_img{
    position: relative;
}

.kivi_kid .no_worries .font_top{
    position: absolute;
    top: -.2px;
    left: 50%;
    transform: translate(-50%);
    width: 200%;
    z-index: 1;
}
.kivi_kid .no_worries .yellow_whole{
    display: none;
}
.kivi_kid .no_worries .no_worries_img .yellow_whole{
    position: absolute;
    display: block;
    width: 88px;
    top: 0;
    right: 0;
    z-index: 2;
}
@media screen and (min-width:666px) {
    .kivi_kid .no_worries .no_worries_text{
        padding: 0 126px;
    }
    .kivi_kid .no_worries .font_top{
        top: -.2px;
        left: 0;
        transform:none;
        width: 100%;
    }
    .kivi_kid .no_worries .no_worries_img .yellow_whole{
        display: none;
    }
    .kivi_kid .no_worries .yellow_whole{
        display: block;
        position: absolute;
        width: 88px;
        top: -40px;
        right: 0;
        z-index: 2;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid .no_worries{
        gap: 28px;
    }
    .kivi_kid .no_worries .no_worries_text{
        padding: 0 168px;
    }
    .kivi_kid .no_worries .font_top{
        top: -.2px;
        left: 0;
        transform:none;
        width: 100%;
    }
    .kivi_kid .no_worries .yellow_whole{
        display: block;
        position: absolute;
        width: 118px;
        top: -45px;
        right: 0;
    }
}

@media screen and (min-width:1366px) {
    .kivi_kid .no_worries{
        gap: 40px;
    }
    .kivi_kid .no_worries .no_worries_text{
        padding: 0 283px;
    }
    .kivi_kid .no_worries .yellow_whole{
        display: block;
        position: absolute;
        width: 166px;
        top: -70px;
        right: 0;
    }
}


/* square */

.kivi_kid .square{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    gap: 18px;
    padding: 42px 16px;
    position: relative;
    background: radial-gradient(100% 63.29% at 0% 0%, #F7D7E4 0%, #FFF 100%);
}
.kivi_kid .square .square_item{
    padding: 14px 12px;
    display: grid;
    gap: 8px;
    border-radius: 20px;
    background: #FFF;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;

}
.kivi_kid .square .ping_item{
    border: 1.581px solid #FB4786;
    box-shadow: 0px 7.379px 17.921px 0px rgba(251, 71, 134, 0.60);
}
.kivi_kid .square .ping_item p{
    color: #FB4786;
}

.kivi_kid .square .purple_item{
    border: 1.581px solid #785EDC;
    box-shadow: 0px 7.379px 17.921px 0px rgba(120, 94, 222, 0.60);
}
.kivi_kid .square .purple_item p{
    color: #785EDC;
}
.kivi_kid .square .icon_square{
    width: 40px;
    margin: 0 auto;
}

.kivi_kid .square :nth-child(4){
    grid-template-columns: 30px auto;
    text-align: left;
    padding: 14px 10px 14px 12px;
}
.kivi_kid .square .big_number{
    font-size: 54px;
}

.kivi_kid .square .big_pink_cobe {
    position: absolute;
    left: 0;
    width: 70px;
    top: 90px;
}


@media screen and (min-width:666px) {
    .kivi_kid .square{
        grid-template-columns: repeat(3,1fr);
        gap:20px;
        padding:42px 70px;
    }
    .kivi_kid .square :nth-child(2) img{
        width: 128px;
        margin: 0 auto;
    }
    .kivi_kid .square :nth-child(4){
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .kivi_kid .square .big_pink_cobe {
        position: absolute;
        left: 0;
        width: 70px;
        top: 0px;
    }
}

@media screen and (min-width:1024px) {
    .kivi_kid .square{
        gap:28px;
        padding:58px 94px;
    }
    .kivi_kid .square :nth-child(2) img{
        width: 172px;
        margin: 0 auto;
    }
    .kivi_kid .square .square_item{
        padding: 18px 35px;
    }
    .kivi_kid .square .icon_square{
        width: 72px;
    }
    .kivi_kid .square :nth-child(4){
        grid-template-columns: 42px auto;
        padding: 33px 35px;

    }
    .kivi_kid .square .big_number{
        font-size: 74px;
    }
    .kivi_kid .square .big_pink_cobe {
        position: absolute;
        left: 0;
        width: 94px;
        top: 0;
    }
}

@media screen and (min-width:1366px) {
    .kivi_kid .square{
        gap:40px;
        padding:80px 142px;
    }
    .kivi_kid .square :nth-child(2) img{
        width: 236px;
    }
    .kivi_kid .square .square_item{
        padding: 24px 35px;
    }
    .kivi_kid .square .icon_square{
        width: 80px;
    }
    .kivi_kid .square :nth-child(4){
        grid-template-columns: 58px auto;
        padding: 32px 35px;

    }
    .kivi_kid .square .big_number{
        font-size: 104px;
    }
    .kivi_kid .square .big_pink_cobe {
        position: absolute;
        left: 0;
        width: 142px;
        top: 0;
    }
}

/* rigth_block-left_block*/

.kivi_kid .rigth_block{
    padding: 42px 40px;
    display: grid;
    gap: 18px;
    text-align: center;
    position: relative;
}
.kivi_kid .left_block{
    padding: 42px 16px;
    display: grid;
    gap: 18px;
    text-align: center;
    position: relative;

}

.kivi_kid .left_block .left_block_img{
    padding: 0 24px;
}

.kivi_kid .left_block .yellow_whole{
    position: absolute;
    top: -55px;
    right: 0;
    width: 94px;
}


@media screen and (min-width:666px) {
    .kivi_kid .rigth_block,
    .kivi_kid .left_block{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: left;
        padding: 42px 70px;
    }
    .kivi_kid .left_block .left_block_text{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .kivi_kid .left_block .yellow_whole{
        top: 0;
        right: 32px;
        width: 94px;
    }

}
@media screen and (min-width:1024px) {
    .kivi_kid .rigth_block,
    .kivi_kid .left_block{
        padding: 58px 94px;
        gap: 24px;
    }
    .kivi_kid .left_block .yellow_whole{
        top: 0;
        right: 42px;
        width: 129px;
    }

}
@media screen and (min-width:1366px) {
    .kivi_kid .rigth_block,
    .kivi_kid .left_block{
        padding: 80px 142px;
        gap: 24px;
    }
    .kivi_kid .left_block .yellow_whole{
        top: 0;
        right: 60px;
        width: 187px;
    }

}