.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
    }
    .Light_Bee img {
      margin: 0;
    }
    .Light_Bee .description {
      padding: 0;
      margin: 0;
      color: rgba(0, 0, 0, 0.7);
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .Light_Bee .title {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      margin: 0;
      margin-bottom: 16px;
    }
    .Light_Bee .title_s {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      margin-bottom: 16px;
    }
    .Light_Bee ul {
      list-style: disc;
      margin: 0;
    }
    .Light_Bee ul li {
      line-height: normal;
      color: rgba(0, 0, 0, 0.7);
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .Light_Bee {
      overflow: hidden;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .Light_Bee ul {
      padding: 0;
      padding-left: 20px;
      padding: 16px 0 16px 20px;
    }
    .Light_Bee ul li {
      padding: 0;
    }
    .Light_Bee div {
      padding: 0;
    }
    div.Light_Bee {
      padding: 0;
    }
    .Light_Bee br {
      display: block;
    }
    .product__body .el-tabs__header {
      z-index: 6;
    }
    .Light_Bee{
      max-width: 1366px;
      margin: 0 auto;
      overflow-x: hidden;
    }
    .Light_Bee img{
      width: 100%;
      display: block;
    }
    /* electric_scooter */
    .Light_Bee .electric_scooter{
    background: linear-gradient(90deg, rgba(60,11,99,1) 20%, rgba(116,100,185,1) 100%);
      padding: 24px 16px;
      position: relative;
      display: grid;
      gap: 16px;
    }
    .Light_Bee .electric_scooter .icon_top{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 90%;
    }
    .Light_Bee .electric_scooter .electric_scooter_img{
      position: relative;
      z-index: 2;
    }
    .Light_Bee .electric_scooter .electric_scooter_text p{
      color: rgb(255, 255, 255);
    }
    @media screen and (min-width:666px) {
        /* body{
            padding: 0 24px;
        } */
      .Light_Bee .electric_scooter{
        grid-template-columns:1.4fr 1fr ;
        align-items: center;
        padding: 24px 40px;
        gap: 0;
      }
      .Light_Bee .electric_scooter .electric_scooter_img{
        padding-left: 24px;
        grid-column-start: 2;
        grid-row-start: 1;
        
      }
      .Light_Bee .electric_scooter .icon_top{
        width: 448px;
        right: 0px;
      }
      .Light_Bee .electric_scooter .title{
        padding-right: 40px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .electric_scooter{
        grid-template-columns:1fr 1fr ;
        padding: 24px 64px;
        gap:32px;
      }
      .Light_Bee .electric_scooter .electric_scooter_img{
        padding-left: 0px;
      }
      .Light_Bee .electric_scooter .icon_top{
        width: 400px;
        right: 0px;
      }
      .Light_Bee .electric_scooter .title{
        padding-right: 50px;
      }
      .Light_Bee .title {
        font-size: 28px;
      }
      .Light_Bee .title_s {
        font-size: 18px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .electric_scooter{
        grid-template-columns:628px 1fr ;
        padding: 24px 80px;
        gap: 40px;
      }
      .Light_Bee .electric_scooter .electric_scooter_img{
        padding-right: 0px;
      }
      .Light_Bee .electric_scooter .icon_top{
        width: 540px;
        right: 0px;
      }
      .Light_Bee .electric_scooter .electric_scooter_text{
        padding-right: 34px;
      }
      .Light_Bee .electric_scooter .title{
        padding-right: 40px;
      }
      .Light_Bee .title {
        font-size: 38px;
        margin-bottom: 18px;
      }
      .Light_Bee .description {
        font-size: 18px;
        line-height: 150%;
      }
      .Light_Bee ul li {
        font-size: 18px;
        line-height: 150%;
      }
      .Light_Bee .title_s {
        font-size: 22px;
        margin-bottom: 18px;
      }
    }
    /* main_chareckt */
    .Light_Bee .main_chareckt{
      display: grid;
      z-index: 2;
      position: relative;
    }
    .Light_Bee .main_chareckt .description{
      color: rgba(0, 0, 0, 0.7);
    }
    .Light_Bee .main_chareckt .main_chareckt_img{
      padding-right: 92px;
      
    }
    .Light_Bee .main_chareckt .main_chareckt_text{
      display: grid;
      padding: 40px 16px;
      text-align: center;
      align-items: start;
      gap: 16px;
      grid-template-columns: repeat(2,1fr);
    }
    .Light_Bee .main_chareckt .main_chareckt_item{
      display: grid;
      gap: 8px;
    }
    .Light_Bee .main_chareckt .main_chareckt_item{
      display: grid;
      gap: 8px;
    }
    .Light_Bee .main_chareckt .main_chareckt_text img{
      width: 64px;
      margin: 0 auto;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .main_chareckt{
        grid-template-columns: .48fr 1fr;
        padding-right: 40px;
        align-items: start;
        align-items: center;
        gap: 32px;
      }

      .Light_Bee .main_chareckt .main_chareckt_img{
        padding-right: 0px;
      }
      .Light_Bee .main_chareckt .main_chareckt_text img{
        width: 56px;
        margin: 0 auto;
      }
      .Light_Bee .main_chareckt .main_chareckt_text{
        grid-template-columns: repeat(3,1fr);
        padding: 0;
        gap: 24px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .main_chareckt{
        padding-right: 64px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .main_chareckt{
        padding-right: 80px;
      }
      .Light_Bee .main_chareckt .main_chareckt_text{
        gap: 32px;
      }
      .Light_Bee .main_chareckt .main_chareckt_text img{
        width: 88px;
      }
    }
    /* lightweight_and_fast */
    .Light_Bee .lightweight_and_fast{
        background: linear-gradient(90deg, rgba(60,11,99,1) 20%, rgba(116,100,185,1) 100%);
        display: grid;
      padding: 40px 16px;
      gap: 16px;
      position: relative;
    }
    .Light_Bee .lightweight_and_fast p{
      color: #fff;
    }
    .Light_Bee .lightweight_and_fast .lightweight_img{
      position: relative;
      z-index: 2;
    }
    .Light_Bee .lightweight_and_fast .icon_two{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 248px;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .lightweight_and_fast{
        grid-template-columns: 1.5fr 1fr;
        padding: 40px 40px;
        align-items: center;
      }
      .Light_Bee .lightweight_and_fast .icon_two{
        width: 350px;
        top: 50%;
        transform: translate(0, -50%);
        bottom: auto;
        }
     }
    @media screen and (min-width:1024px) {
      .Light_Bee .lightweight_and_fast{
        grid-template-columns: 1fr 1fr;
        padding: 24px 60px;
        gap: 40px;
      }
      .Light_Bee .lightweight_and_fast .icon_two{
        right: 0px;
        width: 342px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .lightweight_and_fast{
        padding: 30px 80px;
        grid-template-columns: 1fr 628px;
        gap: 40px
      }
      .Light_Bee .lightweight_and_fast .icon_two{
        width: 497px;
      }
    }
    /* power_reserve */
    .Light_Bee .power_reserve{
      padding: 40px 16px 0;
      display: grid;
      gap: 16px;
      text-align: center;
      position: relative;
      z-index: 2;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .power_reserve{
        padding: 40px 83px 0;
        gap: 24px;
      }
      .Light_Bee .power_reserve .power_reserve_img{
        padding:0 57px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .power_reserve{
        padding: 40px 85px 0;
        gap: 32px;
      }
      .Light_Bee .power_reserve .power_reserve_img{
        padding:0 75px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .power_reserve{
        gap: 40px;
        padding: 50px 265px 0;
      }
      .Light_Bee .power_reserve .power_reserve_img{
        padding:0 18px;
      }
    }




    /* in_front_of */
    .Light_Bee .in_front_of{
      background: rgb(248, 248, 248);
      display: grid;
      padding: 40px 16px;
      gap: 16px;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .in_front_of{
        grid-template-columns: 1.73fr 1fr;
        align-items: center;
        padding:70px 40px ;
        gap: 0;
      }
      .Light_Bee .in_front_of .in_front_of_text{
        padding-right: 32px;
        grid-column-start: 1;
        grid-row-start: 1;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .in_front_of{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 40px 64px ;
        gap: 32px;
      }
      .Light_Bee .in_front_of .in_front_of_text{
        padding-right: 0px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .in_front_of{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 50px 80px ;
        gap:40px;
      }
      .Light_Bee .in_front_of .in_front_of_text{
        padding-right: 0px;
      }
    }
    /* energy_efficiency */
    .Light_Bee .energy_efficiency{
      padding: 40px 16px;
      background: rgb(248, 248, 248);
      text-align: center;
      position: relative;
      z-index: 2j;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .energy_efficiency{
        padding: 40px;
        align-items: center;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .energy_efficiency{
        padding: 40px 64px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .energy_efficiency{
        padding: 50px 80px;
      }
    }
    /* ergonomic_design */
    .Light_Bee .ergonomic_design{
        background: linear-gradient(170deg, rgba(60,11,99,1) 20%, rgba(116,100,185,1) 100%);
        padding: 40px 16px;
        gap: 20px;
        display: grid;
      position: relative;
    }
    .Light_Bee .ergonomic_design p{
      color: #fff;
    }
    .Light_Bee .ergonomic_design .ergonomic_design_img{
      position: relative;
      z-index: 2;
      grid-row-start: 2;
    }
    .Light_Bee .ergonomic_design .icon_last{
      position: absolute;
      top: 0;
      left: -180px;
      width: 500px;
      transform:scaleX(-1);
      z-index: 1;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .ergonomic_design{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1.5fr;
        padding: 40px;
      }
      .Light_Bee .ergonomic_design .ergonomic_design_text{
        padding-left: 9px;
      }

      .Light_Bee .ergonomic_design .icon_last{
        position: absolute;
        top: -16%;
        left: 0px;
        width: 333px;
        z-index: 1;
      }
      .Light_Bee .ergonomic_design .ergonomic_design_img{
        position: relative;
        z-index: 2;
        padding-right: 32px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .ergonomic_design{
        padding: 40px 64px;
        gap: 32px;
        grid-template-columns: repeat(2,1fr);
      }
      .Light_Bee .ergonomic_design .ergonomic_design_text{
        padding-right: 0px;
      }
      .Light_Bee .ergonomic_design .icon_last{
        width: 368px;
        top: -3%;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .ergonomic_design{
        padding: 50px 80px;
        gap: 40px;
        grid-template-columns:628px 1fr;
      }
      .Light_Bee .ergonomic_design .ergonomic_design_text{
        padding:0;
      }
      .Light_Bee .ergonomic_design .icon_last{
        width: 607px;
      }
      .Light_Bee .ergonomic_design .ergonomic_design_img{
        position: relative;
        z-index: 2;
        padding-right: 0px;
      }

    }
    /* confident_movement   */
    .Light_Bee .confident_movement{
      display: grid;
      gap: 16px;
      position: relative;
      z-index: 2;
    }
    .Light_Bee .confident_movement .confident_movement_text{
      padding: 0 16px 32px;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .confident_movement{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1.5fr;
        gap: 32px;
      }
      .Light_Bee .confident_movement .confident_movement_text{
        padding: 0;
        padding-right:40px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .confident_movement{
        grid-template-columns: 1fr 1.3fr;
        gap: 32px;
      }
      .Light_Bee .confident_movement .confident_movement_text{
        padding-right:64px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .confident_movement{
        grid-template-columns: 499px 1fr;
        gap: 40px;
      }
      .Light_Bee .confident_movement .confident_movement_text{
        padding: 0;
        padding-right:80px;
      }
    }
    /* IP54 */
    .Light_Bee .IP54{
      background: rgb(248, 248, 248);
      display: grid;
      padding: 40px 16px 0;
      gap: 16px;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .IP54{
        display: grid;
        align-items: center;
        padding: 40px;
        grid-template-columns: 1.5fr 1fr;
        gap: 32px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .IP54{
        display: grid;
        align-items: center;
        padding: 40px 64px 0;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .IP54{
        display: grid;
        align-items: center;
        padding:50px 80px 0;
        grid-template-columns: 1fr 1.11fr;
        gap: 40px;
      }
    }
    /* safe_travelling */
    .Light_Bee .safe_travelling{
      padding: 40px 16px;
      display: grid;
      gap: 16px;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .safe_travelling{
        display: grid;
        align-items: center;
        padding: 40px;
        grid-template-columns: 1.6fr 1fr;
        gap: 32px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .safe_travelling{
        padding: 40px 64px;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .safe_travelling{
        padding: 40px 80px;
        grid-template-columns: 1fr 628px;
        gap: 40px;
      }
    }
    .Light_Bee .notes{
      background: radial-gradient(48.26% 100% at 48.26% 100%, rgb(116, 100, 185) 0%, rgb(60, 11, 99) 100%);
    }
    .Light_Bee .notes p{
      color: #fff;
    }
    @media screen and (min-width:666px) {
      .Light_Bee .notes{
        padding: 40px;
      }
    }
    @media screen and (min-width:1024px) {
      .Light_Bee .notes{
        padding: 40px 64px;
      }
    }
    @media screen and (min-width:1366px) {
      .Light_Bee .notes{
        padding: 40px 80px;
      }
    }
