.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
    }
    .BHH880 img {
      margin: 0;
    }
    .BHH880 p {
      padding: 0;
      margin: 0;
      color: #000;
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .BHH880 h3 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      margin-bottom: 14px;
    }
    .BHH880 h2 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
    }
    .BHH880 ul {
      list-style: disc;
      margin: 0;
    }
    .BHH880 ul li {
      line-height: normal;
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .BHH880 {
      overflow: hidden;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .BHH880 ul {
      padding: 0;
      padding-left: 20px;
    }
    .BHH880 ul li {
      padding: 0;
    }
    .BHH880 div {
      padding: 0;
    }
    div.BHH880 {
      padding: 0;
    }
    .BHH880 br {
      display: block;
    }
    .product__body .el-tabs__header {
      z-index: 6;
    }
    .BHH880{
      max-width: 1366px;
      margin: 0 auto;
      overflow-x: hidden;
    }
    .BHH880 img{
      width: 100%;
      display: block;
    }


    /* StyleCare */

    .BHH880 .StyleCare{
        position: relative;
    }

    .BHH880 .StyleCare .grey_text{
        font-size: 16px;
        font-weight: 300;
    }
    .BHH880 .StyleCare .white_text{
        font-size: 18px;
        font-weight: 500;
    }
    .BHH880 .StyleCare .StyleCare_text{
        display: grid;
        gap: 12px;
        padding: 40px 16px 24px;
        text-align: center;
    }
    .BHH880 .StyleCare .StyleCare_text_icon{
       position: relative;
    }
    .BHH880 .StyleCare .StyleCare_text_icon .img_philips{
       position: absolute;
       width: 80px;
       top: 0;
       left: 16px;
    }


    @media screen and (min-width:666px){
        .BHH880 .StyleCare .StyleCare_text{
            position: absolute;
            left: 42px;
            bottom: 52px;
            display: grid;
            gap: 61px;
            padding: 0;
            text-align: left;
            width: 270px;
            z-index: 1;
        }
        .BHH880 .StyleCare .white_text{
            font-size: 21px;
            font-weight: 700;
            grid-row-start: 2;
            color: #fff;

        }
        .BHH880 .StyleCare .grey_text{
            font-size: 17px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.7);
        }
        .BHH880 .StyleCare .StyleCare_text_icon .img_philips{
            width: 90px;
            left: 32px;
         }
        
    }
    @media screen and (min-width:1024px){
        .BHH880 .StyleCare .StyleCare_text{
            left: 57px;
            bottom: 70px;
            gap: 83px;
            width: 368px;
        }
        .BHH880 .StyleCare .white_text{
            font-size: 28px;
        }
        .BHH880 .StyleCare .grey_text{
            font-size: 23px;
        }
        .BHH880 .StyleCare .StyleCare_text_icon .img_philips{
            width: 130px;
            left: 40px;
         }
    }

    @media screen and (min-width:1366px){
        .BHH880 .StyleCare .StyleCare_text{
            left: 80px;
            bottom: 99px;
            gap: 117px;
            width: 514px;
        }
        .BHH880 .StyleCare .white_text{
            font-size: 40px;
        }
        .BHH880 .StyleCare .grey_text{
            font-size: 32px;
        }
        .BHH880 .StyleCare .StyleCare_text_icon .img_philips{
            width: 188px;
            left: 60px;
         }
    }


    /* purple_line */


    .BHH880 .purple_line{
        padding: 16px;
        background: rgb(126, 19, 99);
    }
    .BHH880 .purple_line .purple_title{
        font-weight: 400;
        margin-bottom: 0;
        font-size: 20px;
        color: #fff;
    }


    @media screen and (min-width:666px){

        .BHH880 .purple_line{
            padding: 24px;
        }
        .BHH880 .purple_line .purple_title{
            font-size: 24px;
        }
    }
    @media screen and (min-width:1024px){

        .BHH880 .purple_line{
            padding: 24px 40px;
        }
        .BHH880 .purple_line .purple_title{
            font-size: 30px;
        }
    }
    @media screen and (min-width:1366px){

        .BHH880 .purple_line{
            padding: 24px 60px;
        }
        .BHH880 .purple_line .purple_title{
            font-size: 42px;
        }
    }

    /* manageable */


    .BHH880 .manageable{
        position: relative;
    }
    .BHH880 .manageable .manageable_big,
    .BHH880 .manageable .manageable_notes{
        display: none;
    } 


    @media screen and (min-width:666px){

        .BHH880 .manageable .manageable_big,
        .BHH880 .manageable .manageable_notes{
            display: block;
            position: absolute;
        } 
        .BHH880 .manageable .manageable_big{
            top: 42px;
            left: 42px;
            width: 347px;
        }
        .BHH880 .manageable .manageable_big h3{
            color: #fff;
            font-weight: 700;
            font-size: 32px;
        }

        .BHH880 .manageable .manageable_notes{
            bottom: 16px;
            right: 31px;
            width:190px;
        }
        .BHH880 .manageable .manageable_notes p{
            color: #fff;
            font-size: 12px;
        }
    }
    @media screen and (min-width:1024px){
        .BHH880 .manageable .manageable_big{
            top: 57px;
            left: 57px;
            width: 430px;
        }
        .BHH880 .manageable .manageable_big h3{
            font-size: 42px;
        }

        .BHH880 .manageable .manageable_notes{
            bottom: 55px;
            right: 42px;
            width:257px;
        }
        .BHH880 .manageable .manageable_notes p{
            font-size: 14px;
        }
    }

    @media screen and (min-width:1366px){
        .BHH880 .manageable .manageable_big{
            top: 80px;
            left: 80px;
            width: 659px;
        }
        .BHH880 .manageable .manageable_big h3{
            font-size: 56px;
        }

        .BHH880 .manageable .manageable_notes{
            bottom: 90px;
            right: 60px;
            width:340px;
        }
        .BHH880 .manageable .manageable_notes p{
            font-size: 16px;
        }
    }

    /* circles */
.BHH880 .circles{
    display: grid;
    gap: 20px;
    padding: 24px 16px;
}

.BHH880 .circles .circles_items{
    display: grid;
    grid-template-columns: 42px auto;
    align-items: start;
    gap: 20px;
}

.BHH880 .circles p{
    font-size: 16px;
    font-weight: 500;
}

@media screen and (min-width:666px){
    .BHH880 .circles{
        gap: 32px 60px;
        padding: 24px 60px;
        grid-template-columns: repeat(3,1fr);
    }
    .BHH880 .circles .circles_items{
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }   
}

@media screen and (min-width:1024px){
    .BHH880 .circles{
        gap: 32px 52px;
        padding:60px 76px;
    }  
    .BHH880 .circles p{
        font-size: 20px;
    }
}

@media screen and (min-width:1366px){
    .BHH880 .circles{
        gap: 40px 122px;
        padding:60px 111px;
    }  
    .BHH880 .circles p{
        font-size: 22px;
    }
}


/* how */

.BHH880 .how{
    position: relative;
}
.BHH880 .how .how_items:first-child{
    padding: 24px 44px 0 34px;
}
.BHH880 .how .how_items:nth-child(2){
    padding: 14px 34px;
}
.BHH880 .how .how_items:nth-child(3){
    padding: 0px 34px 24px;
}
.BHH880 .how .how_items p:first-child{
    color:rgb(121, 34, 98);
    font-weight: 700;
}
.BHH880 .how .how_items p:nth-child(2){
    font-weight: 500;
}

@media screen and (min-width:666px){
    .BHH880 .how .how_items{
        display: grid;
        gap: 4px;
    }
    .BHH880 .how .how_items:first-child{
        padding: 0;
        position: absolute;
        top: 54px;
        left: 42px;
        width: 240px;
    }

    .BHH880 .how .how_items:nth-child(2){
        padding:0;
        position: absolute;
        bottom: 45px;
        left: 42px;
        width: 249px;
    }
    .BHH880 .how .how_items:nth-child(3){
        padding: 0;
        position: absolute;
        right: 52px;
        bottom: 20px;
        width: 232px;
    }

}
@media screen and (min-width:1024px){
    .BHH880 .how .how_items{
        display: grid;
        gap: 5px;
    }
    .BHH880 .how .how_items p{
        font-size: 20px;
    }

    .BHH880 .how .how_items:first-child{
        top: 73px;
        left: 57px;
        width: 325px;
    }

    .BHH880 .how .how_items:nth-child(2){
        bottom: 55px;
        left: 57px;
        width: 338px;
    }
    .BHH880 .how .how_items:nth-child(3){
        right: 71px;
        bottom: 19px;
        width: 315px;
    }
}

@media screen and (min-width:1366px){
    .BHH880 .how .how_items{
        display: grid;
        gap: 6px;
    }
    .BHH880 .how .how_items p{
        font-size: 28px;
    }

    .BHH880 .how .how_items:first-child{
        top: 103px;
        left: 80px;
        width: 456px;
    }

    .BHH880 .how .how_items:nth-child(2){
        bottom: 80px;
        left: 80px;
        width: 474px;
    }
    .BHH880 .how .how_items:nth-child(3){
        right: 100px;
        bottom: 30px;
        width: 442px;
    }
}

/* fast_leveling */

.BHH880 .fast_leveling{
    position: relative;
}
.BHH880 .fast_leveling .fast_leveling_item h3{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.BHH880 .fast_leveling .fast_leveling_item p{
    color: #fff;
    font-size: 8px;
}
.BHH880 .fast_leveling .fast_leveling_item:first-child{
    position: absolute;
    z-index: 1;
    width: 148px;
    top: 14px;
    left: 18px;
}
.BHH880 .fast_leveling .fast_leveling_item:nth-child(2){
    position: absolute;
    z-index: 1;
    top: 24px;
    right:15px;
    width: 88px;
}

@media screen and (min-width:666px){

    .BHH880 .fast_leveling .fast_leveling_item:first-child{
        width: 333px;
        top: 31px;
        left: 42px;
    }
    .BHH880 .fast_leveling .fast_leveling_item:nth-child(2){
        top: 54px;
        right:35px;
        width: 198px;
    }
    .BHH880 .fast_leveling .fast_leveling_item h3{
        font-size: 28px;
    }
    .BHH880 .fast_leveling .fast_leveling_item p{
        font-size: 12px;
    }
}

@media screen and (min-width:1024px){

    .BHH880 .fast_leveling .fast_leveling_item:first-child{
        width: 452px;
        top: 42px;
        left: 57px;
    }
    .BHH880 .fast_leveling .fast_leveling_item:nth-child(2){
        top: 74px;
        right:48px;
        width: 267px;
    }
    .BHH880 .fast_leveling .fast_leveling_item h3{
        font-size: 36px;
    }
    .BHH880 .fast_leveling .fast_leveling_item p{
        font-size: 14px;
    }
}

@media screen and (min-width:1366px){

    .BHH880 .fast_leveling .fast_leveling_item:first-child{
        width: 633px;
        top: 53px;
        left: 80px;
    }
    .BHH880 .fast_leveling .fast_leveling_item:nth-child(2){
        top: 92px;
        right:68px;
        width: 374px;
    }
    .BHH880 .fast_leveling .fast_leveling_item h3{
        font-size: 56px;
    }
    .BHH880 .fast_leveling .fast_leveling_item p{
        font-size: 22px;
    }
}


/* brush_types */

.BHH880 .brush_types{
    position: relative;
}

.BHH880 .brush_types .brush_types_text{
    padding: 24px 39px 24px 16px;
    display: grid;
    gap: 14px;
}
.BHH880 .brush_types span{
    color: rgb(121, 34, 98);
    font-weight: 700;
}
.BHH880 .brush_types .brush_types_notes{
    padding: 24px 16px;
}
.BHH880 .brush_types .brush_types_notes p{ 
    font-size: 12px;
}


@media screen and (min-width:666px){
    .BHH880 .brush_types .brush_types_text br{
        display: none;
    }
    .BHH880 .brush_types .brush_types_text{
        position: absolute;
        gap: 16px;
        right: 5px;
        top: 65px;
        width: 386px;
        padding: 0;
    }
    .BHH880 .brush_types .brush_types_text p:nth-child(2){
        width: 347px;
    }
    .BHH880 .brush_types .brush_types_notes{
        padding: 0;
        bottom: 23px;
        width: 335px;
        right: 50px;
        position: absolute;
    }
}

@media screen and (min-width:1024px){
    .BHH880 .brush_types .brush_types_text{
        gap: 24px;
        right: 36px;
        top: 120px;
        width: 483px;
    }
    .BHH880 .brush_types .brush_types_text p{
        font-size: 16px;
    }
    .BHH880 .brush_types .brush_types_text p:nth-child(2){
        width: 477px;
    }
    .BHH880 .brush_types .brush_types_notes{
        bottom: 23px;
        width: 485px;
        right: 50px;
    }
    .BHH880 .brush_types .brush_types_notes p{ 
        font-size: 14px;
    }
}

@media screen and (min-width:1366px){
    .BHH880 .brush_types .brush_types_text{
        gap: 24px;
        right: 110px;
        top: 100px;
        width: 613px;
    }
    .BHH880 .brush_types .brush_types_text p{
        font-size: 22px;
    }
    .BHH880 .brush_types .brush_types_text p:nth-child(2){
        width: 606px;
    }
    .BHH880 .brush_types .brush_types_notes{
        bottom: 58px;
        width: 616px;
        right: 107px;
    }
    .BHH880 .brush_types .brush_types_notes p{ 
        font-size: 16px;
    }
}
/* at_home */


.BHH880 .at_home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px 16px;
    padding: 24px 16px;
    align-items: start;
}
.BHH880 .at_home h3{
    font-size: 14px;
    margin-bottom: 8px;
}
.BHH880 .at_home .at_home_item{
    display: grid;
    gap: 24px;
}
.BHH880 .at_home .at_home_item span{
    color: rgb(121, 34, 98);
    font-weight: 700;
}

@media screen and (min-width:666px){
    .BHH880 .at_home{
        grid-template-columns: repeat(3,1fr);
        padding: 32px;
        gap: 24px;
    }
    .BHH880 .at_home p{
        font-size: 16px;
    }
    .BHH880 .at_home img{
        border-radius: 10px;
    }

}
@media screen and (min-width:1024px){
    .BHH880 .at_home{
        padding: 40px;
        gap: 24px;
    }
    .BHH880 .at_home p{
        font-size: 18px;
    }
    .BHH880 .at_home img{
        border-radius: 16px;
    }
}
@media screen and (min-width:1366px){
    .BHH880 .at_home{
        padding: 60px;
        gap: 24px;
    }
    .BHH880 .at_home p{
        font-size: 22px;
    }
}


/* temp */

.BHH880 .temp{
    position: relative;
}
.BHH880 .temp .temp_text{
    position: absolute;
    top: 19px;
    left: 19px;
    width: 155px;
}
.BHH880 .temp .temp_text p{
    color: rgb(121, 34, 98);
}
.BHH880 .temp .temp_text span{
    font-weight: 700;
}
@media screen and (min-width:666px){
    .BHH880 .temp .temp_text{
        top: 42px;
        left: 42px;
        width: 350px;
    }
    .BHH880 .temp .temp_text p{
        font-size: 18px;
    }
}
@media screen and (min-width:1024px){
    .BHH880 .temp .temp_text{
        top: 57px;
        left: 57px;
        width: 474px;
    }
    .BHH880 .temp .temp_text p{
        font-size: 28px;
    }
}
@media screen and (min-width:1366px){
    .BHH880 .temp .temp_text{
        top: 80px;
        left: 80px;
        width: 664px;
    }
    .BHH880 .temp .temp_text p{
        font-size: 40px;
    }
}


/* discover */

.BHH880 .discover{
    position: relative;
}
.BHH880 .discover .discover_text{
    padding: 24px 34px;
    display: grid;
    gap: 14px;
}
.BHH880 .discover .discover_text p:first-child{
    color:rgb(121, 34, 98);
}

.BHH880 .discover .discover_text .notes{
    font-size: 8px;
}

@media screen and (min-width:666px){
    .BHH880 .discover .discover_text{
        padding: 0;
        position: absolute;
        top: 76px;
        right: 5px;
        gap: 70px;
        width: 273px;
    }
    .BHH880 .discover .discover_text p:first-child{
        width: 238px;
        font-size: 24px;
    }

    .BHH880 .discover .discover_text .notes{
        font-size: 12px;
    }
}

@media screen and (min-width:1024px){
    .BHH880 .discover .discover_text{
        top: 103px;
        right: 16px;
        gap: 133px;
        width: 364px;
    }
    .BHH880 .discover .discover_text p:first-child{
        width: 322px;
        font-size: 28px;
    }

    .BHH880 .discover .discover_text .notes{
        font-size: 14px;
    }
}

@media screen and (min-width:1366px){
    .BHH880 .discover .discover_text{
        top: 145px;
        right: 70px;
        gap: 145px;
        width: 462px;
    }
    .BHH880 .discover .discover_text p:first-child{
        width: 452px;
        font-size: 48px;
    }

    .BHH880 .discover .discover_text .notes{
        font-size: 16px;
    }
}
