.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
  }
  .kenwood img {
    margin: 0;
  }
  .kenwood p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #010101;
  }
  .kenwood h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin: 12px 0 16px;
  }
  .kenwood h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 0;
    margin-top: 12px;
  }
  .kenwood .green_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #6AB551;
  }

  .kenwood ul {
    list-style: none;
    margin: 0;
  }
  .kenwood ul li {
    line-height: normal;
  }
  .kenwood {
    overflow: hidden;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .kenwood ul {
    padding: 0;
  }
  .kenwood ul li {
    padding: 0;
  }
  .kenwood div {
    padding: 0;
  }
  div.kenwood {
    padding: 0;
  }
  .kenwood br {
    display: block;
  }
  .product__body .el-tabs__header {
    z-index: 6;
  }

  .kenwood {
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .kenwood img{
    max-width: 200%;
    width:100%;
    display: block;
  }


  /* your_boss */

  .kenwood .your_boss {
    display: grid;
    gap: 24px;
  }

  .kenwood .your_boss .your_boss_text{
    padding: 40px 16px 0;
  }

@media screen and (min-width:666px) {

  body{
    padding: 0 24px;
  }

  .kenwood .your_boss {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-left: 71px;
  }

  .kenwood .your_boss .your_boss_text{
    padding: 0
  }
  
}
@media screen and (min-width:1024px) {
  .kenwood h2{
    font-size: 46px;
    line-height: 130%;
    
  }
  .kenwood .green_text{
    font-size: 14px;
  }
  .kenwood h3{
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 18px;
  }
  .kenwood p{
    font-size: 16px;
  }

  .kenwood .your_boss {
    padding-left: 109px;
  }
  
}


@media screen and (min-width:1366px) {
  .kenwood h2{
    font-size: 64px;
    
  }
  .kenwood .green_text{
    font-size: 16px;
  }
  .kenwood h3{
    font-size: 38px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .kenwood p{
    font-size: 18px;
  }

  .kenwood .your_boss {
    padding-left: 166px;
  }
  
}


  /* DuoBowl */

  .kenwood .DuoBowl{
    display: grid;
    gap: 24px;
    padding: 32px 0;
  }

  .kenwood .DuoBowl .DuoBowl_text{
    padding:0 16px;

  }
  @media screen and (min-width:666px) {
    .kenwood .DuoBowl{
      grid-template-columns: repeat(2,1fr);
      gap: 55px;
      padding: 32px 71px 32px 0 ;
      align-items: center;
    }
    .kenwood .DuoBowl .DuoBowl_text{
      grid-row-start: 1;
      grid-column-start: 2;
    }

  }

  @media screen and (min-width:1024px) {

    .kenwood .DuoBowl{
      gap: 75px;
      padding: 42px 109px 42px 0 ;
      
    }
  }

@media screen and (min-width:1366px) {
  .kenwood .DuoBowl{
    gap: 106px;
    padding: 60px 166px 60px 0 ;
    
  }



}

  /* in_one_car */


  .kenwood .in_one_car{
    display: grid;
    gap: 24px;
    padding: 32px 0 0;
  }

  .kenwood .in_one_car .in_one_car_text{
    padding: 0 16px;
  }


  .kenwood .in_one_car .in_one_car_img{
    background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/723635/img-3.png?_t=1687303636");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
  }
  .kenwood .in_one_car .in_one_car_img img{
    opacity: 0;;
    width: 200%;
  }


  @media screen and (min-width:666px) {
    .kenwood .in_one_car{
      gap: 20px; 
    }
  
    .kenwood .in_one_car .in_one_car_text{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding: 0 71px;
      align-items: flex-start;

    }
    .kenwood .in_one_car .in_one_car_img{
      background-image: none;
    }
    .kenwood .in_one_car .in_one_car_img img{
      opacity: 1;
      width: 100%;
    }
  }

@media screen and (min-width:1024px) {
  .kenwood .in_one_car .in_one_car_text{
    padding: 0 109px;
  }
  .kenwood .in_one_car{
    gap: 28px; 
  }
}
@media screen and (min-width:1366px) {
  .kenwood .in_one_car .in_one_car_text{
    padding: 0 166px;
  }
  .kenwood .in_one_car{
    gap: 40px; 
  }


}

  /* EasyWeigh */

  .kenwood .EasyWeigh{
    padding: 0 16px 32px 0;
    display: grid;
    gap: 16px;
  }

  .kenwood .EasyWeigh .EasyWeigh_text{
    padding-left: 16px;
  }

  @media screen and (min-width:666px) {
    .kenwood .EasyWeigh{
      grid-template-columns: 54% 46%;
      padding: 0 71px 32px 0;
      gap:0

    }
    .kenwood .EasyWeigh .EasyWeigh_text{
      padding-left:24px;
      padding-top: 32px;
      
    }

  }

@media screen and (min-width:1024px) {

  .kenwood .EasyWeigh{
    padding: 0 109px 42px 0;

  }
  .kenwood .EasyWeigh .EasyWeigh_text{
    padding-left:24px;
    padding-top: 42px;
    
  }

}

@media screen and (min-width:1366px) {

  .kenwood .EasyWeigh{
    padding: 0 166px 60px 0;
  }
  .kenwood .EasyWeigh .EasyWeigh_text{
    padding-top: 60px;
  }

}

  /* .LightLift */

  .kenwood .LightLift{
    padding: 32px 0;
    display: grid;
    gap: 16px;
  }

  .kenwood .LightLift .LightLift_text{
    padding: 0 16px;
  }
  .kenwood .LightLift .LightLift_text img{
    width: 38px;
    margin-right: auto;
    margin-top: 16px;
  }

  @media screen and (min-width:666px) {
      .kenwood .LightLift{
        grid-template-columns: repeat(2,1fr);
        padding: 32px 0 32px 71px;
        align-items: center;
      }
      .kenwood .LightLift .LightLift_text{
        padding: 0;
        padding-right: 55px;
      }

  }


@media screen and (min-width:1024px) {
  .kenwood .LightLift{
    padding: 42px 0 42px 109px;
  }
  .kenwood .LightLift .LightLift_text img{
    width: 44px;
    margin-top: 18px;
  }
  .kenwood .LightLift .LightLift_text{
    padding-right: 73px;

  }
}

@media screen and (min-width:1366px) {
  .kenwood .LightLift{
    padding: 60px 0 60px 166px;
  }
  .kenwood .LightLift .LightLift_text img{
    width: 60px;
    margin-top: 24px;
  }
  .kenwood .LightLift .LightLift_text{
    padding-right: 90px;

  }


}
  /* engine */

  .kenwood .engine{
    padding: 32px 0;
    display: grid;
    gap: 24px;
  }
  .kenwood .engine_text{
    padding: 0 16px;
  }

  @media screen and (min-width:666px) {
    .kenwood .engine{
      grid-template-columns: repeat(2, 1fr);
      padding: 32px 71px 32px 0;
      align-items: center;
      gap: 16px;
    }
    .kenwood .engine_text{
      padding: 0;
      padding-left: 40px; 
      grid-column-start: 2;
      grid-row-start: 1;
    }

  }

  @media screen and (min-width:1024px) {
    .kenwood .engine{
      padding: 42px 109px 42px 0;
    }
    .kenwood .engine_text{
      padding-left: 60px; 
    }
  }
  @media screen and (min-width:1366px) {
    .kenwood .engine{
      padding: 60px 166px 60px 0;
    }
    .kenwood .engine_text{
      padding-left: 90px; 
    }


  }

  /* .PopTops */

  .kenwood .PopTops{
    padding: 32px 0 0;
    display: grid;
    gap: 24px;
    background: #CFE7C7;
    
  }

  .kenwood .PopTops .PopTops_text_block{
    padding: 0 16px;
    position: relative;
  }

  .kenwood .PopTops .PopTops_text_block p{
    z-index: 2;
    position: relative;
  }

  .kenwood .PopTops .PopTops_text_block img{
    width: 106px;
    position: absolute;
    right: 0;
    bottom: -24px;
    z-index: 1;
  }


  .kenwood .PopTops .PopTops_img{
    background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/723635/img-8.png?_t=1687303637");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
  }
  .kenwood .PopTops .PopTops_img img{
    opacity: 0;
    width: 200%;
  }



  @media screen and (min-width:666px) {
  .kenwood .PopTops .PopTops_text_block{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    padding: 0 71px;
    gap: 24px;
    align-items: flex-start;
  }
  .kenwood .PopTops .PopTops_img{
    background-image:none;
  }
  .kenwood .PopTops .PopTops_img img{
    opacity: 1;
    width: 100%;
  }


}

@media screen and (min-width:1024px) {
  .kenwood .PopTops .PopTops_text_block{
    padding: 0 109px;

  }
  .kenwood .PopTops{
    padding: 42px 0 0;
    gap: 28px;
  }

}

@media screen and (min-width:1366px) {
  .kenwood .PopTops .PopTops_text_block{
    padding: 0 166px;

  }
  .kenwood .PopTops{
    padding: 60px 0 0;
    gap: 40px;
  }


}

/* .nozzles_included */


.kenwood .nozzles_included{
    padding: 32px 0 32px 16px;
    display: grid;
    grid-gap: 24px;
}

.kenwood .nozzles_included .nozzles_included_tile{
    display: grid;
    padding-right: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 18px;
    text-align: center;
    align-items: flex-start;

}
.kenwood .nozzles_included .nozzles_included_tile .set_block{
    display: grid;
    gap:12px;
    align-items: flex-start;


}

@media screen and (min-width:666px) {
  .kenwood .nozzles_included{
    grid-template-columns: 52% 48%;
    padding: 32px 0 32px 71px;
    align-items: center;
  }
.kenwood .nozzles_included .nozzles_included_tile{
  padding: 0;
}

}

@media screen and (min-width:1024px) {
  .kenwood .nozzles_included{
    padding: 42px 0 42px 109px;
  }
  .kenwood .nozzles_included .nozzles_included_tile{
    gap: 24px;
    margin-top: 10px;
  }
  .kenwood .nozzles_included .nozzles_included_tile .set_block{
    gap: 18px;
  }
  .kenwood .nozzles_included .nozzles_included_text{
    padding-right: 10px;
  }
}

@media screen and (min-width:1366px) {
  .kenwood .nozzles_included{
    padding: 60px 0 60px 166px;
  }
  .kenwood .nozzles_included .nozzles_included_tile{
    gap: 24px;
    margin-top: 40px;
  }
  .kenwood .nozzles_included .nozzles_included_tile .set_block{
    gap: 24px;
  }
  .kenwood .nozzles_included .nozzles_included_text{
    padding-right: 10px;
  }
}