.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
    }
    .philips_epilators img {
      margin: 0;
    }
    .philips_epilators p {
      padding: 0;
      margin: 0;
      color: #000;
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .philips_epilators h3 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
    }
    .philips_epilators h2 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      margin-bottom: 12px;
    }
    .philips_epilators ul {
      list-style: disc;
      margin: 0;
    }
    .philips_epilators ul li {
      line-height: normal;
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .philips_epilators {
      overflow: hidden;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .philips_epilators ul {
      padding: 0;
      padding-left: 20px;
    }
    .philips_epilators ul li {
      padding: 0;
    }
    .philips_epilators div {
      padding: 0;
    }
    div.philips_epilators {
      padding: 0;
    }
    .philips_epilators br {
      display: block;
    }
    .product__body .el-tabs__header {
      z-index: 6;
    }
    .philips_epilators{
      max-width: 1366px;
      margin: 0 auto;
      overflow-x: hidden;
    }
    .philips_epilators img{
      width: 100%;
      display: block;
    }
    .philips_epilators .styler{
      display: grid;
      position: relative;
      text-align: center;
    }
    .philips_epilators .styler .styler_text{
      padding: 40px 16px 10px;
    }
    .philips_epilators .styler .styler_text h3{
      font-size: 16px;
      padding: 0 16px;
    }
    .philips_epilators .styler .styler_img{
      position: relative;
    }
    .philips_epilators .styler .styler_img .logo_philips{
      position: absolute;
      top: 0;
      left: 16px;
      width: 60px;
    }
    @media screen and (min-width:666px) {
      .philips_epilators h2{
        font-size: 24px;
      }
      .philips_epilators .styler .styler_text h3{
        font-size: 18px;
      }
      .philips_epilators .styler .styler_img .logo_philips{
        width: 89px;
        left: 32px;
      }
      .philips_epilators p{
        font-size: 16px;
      }
      .philips_epilators ul li {
        font-size: 16px;
      }
      .philips_epilators h3 {
        font-size: 20px;
      }
    }
    @media screen and (min-width:1024px) {
      .philips_epilators h2{
        font-size: 26px;
      }
      .philips_epilators .styler .styler_text h3{
        font-size: 24px;
      }
      .philips_epilators .styler .styler_img .logo_philips{
        width: 129px;
        left: 40px;
      }
      .philips_epilators p{
        font-size: 18px;
      }
      .philips_epilators h3 {
        font-size: 24px;
      }
      .philips_epilators ul li {
        font-size: 18px;
      }
    }
    @media screen and (min-width:1366px) {
      .philips_epilators h2{
        font-size: 36px;
      }
      .philips_epilators .styler .styler_text h3{
        font-size: 32px;
      }
      .philips_epilators .styler .styler_img .logo_philips{
        width: 188px;
        left: 60px;
      }
      .philips_epilators p{
        font-size: 22px;
      }
      .philips_epilators h3 {
        font-size: 32px;
      }
      .philips_epilators ul li {
        font-size: 22px;
      }
      .philips_epilators .styler .styler_text{
        padding: 60px 16px 60px;
      }
    }
    /* SenseIQ_left */
    .philips_epilators .SenseIQ_left{
      padding:0 16px 40px ;
      display: grid;
      gap: 24px;
    }
    .philips_epilators .SenseIQ_left img{
      border-radius: 10px;
    }
    .philips_epilators .SenseIQ_left .SenseIQ_left_text{
      display: grid;
      gap: 14px;
    }
    @media screen and (min-width:666px) {
      .philips_epilators .SenseIQ_left{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        align-items: center;
        padding:32px 32px 0;
      }
      .philips_epilators .SenseIQ_left .SenseIQ_left_text{
        grid-column-start: 2;
        grid-row-start: 1;
      }
    }
    @media screen and (min-width:1024px) {
      .philips_epilators .SenseIQ_left{
        gap: 32px;
        padding:40px 40px 0;
      }
      .philips_epilators .SenseIQ_left .SenseIQ_left_text{
        gap: 18px;
      }
    }
    @media screen and (min-width:1366px) {
      .philips_epilators .SenseIQ_left{
        gap: 40px;
        padding:60px 166px 0;
      }
      .philips_epilators .SenseIQ_left .SenseIQ_left_text{
        gap: 24px;
      }
    }
    /* SenseIQ_right */
    .philips_epilators .SenseIQ_right{
      padding:0 16px 40px ;
      display: grid;
      gap: 24px;
    }

    .philips_epilators .SenseIQ_right .SenseIQ_right_text{
      display: grid;
      gap: 14px;
    }

    .philips_epilators .SenseIQ_right img{
      border-radius: 10px;
    }
    @media screen and (min-width:666px) {
      .philips_epilators .SenseIQ_right{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        align-items: center;
        padding: 32px 32px 0;
      }
    }
    @media screen and (min-width:1024px) {
      .philips_epilators .SenseIQ_right{
        gap: 32px;
        padding: 40px 40px 0;
      }
      .philips_epilators .SenseIQ_right .SenseIQ_right_text{
        gap: 18px;
      }
    }
    @media screen and (min-width:1366px) {
      .philips_epilators .SenseIQ_right{
        gap: 40px;
        padding: 60px 166px 0;
      }
      .philips_epilators .SenseIQ_right .SenseIQ_right_text{
        gap: 24px;
      }
    }
    /* improved_care */
    .philips_epilators .improved_care .improved_care_text{
      padding: 40px 16px 10px;
      text-align: center;
    }
    .philips_epilators .improved_care .improved_care_text h3{
      padding: 0 20px;
    }
    .philips_epilators .thermal_insulation{
      padding-bottom: 40px;
    }
    @media screen and (min-width:666px) {
      .philips_epilators .improved_care .improved_care_text{
        padding: 40px 50px 32px;
      }
      .philips_epilators .improved_care .improved_care_text h2{
        padding: 0 50px;
      }
    }
    @media screen and (min-width:1024px) {
      .philips_epilators .improved_care .improved_care_text{
        padding: 40px 150px ;
      }
      .philips_epilators .improved_care .improved_care_text h2{
        padding: 0 30px;
      }
      .philips_epilators .thermal_insulation{
        padding-bottom: 0;
      }
    }
    @media screen and (min-width:1366px) {
      .philips_epilators .improved_care .improved_care_text{
        padding: 120px 266px 60px;
      }
      .philips_epilators .improved_care .improved_care_text h2{
        padding: 0 50px;
        margin-bottom: 16px;
      }
      .philips_epilators .thermal_insulation{
        padding-bottom: 0;
      }
    }
    
    /* models */
    .philips_epilators .models{
      display: none;
    }
    @media screen and (min-width:666px) {
      .philips_epilators .models{
        display: block;
        padding: 40px 32px 0;
      }
      .philips_epilators .models .models_block{
        display:grid;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
          "block1 block2 block3 block4"
          "block5 block6 block7 block8"
           "block9 block9 block9 block9"
          "block10 block11 block12 block13"
          "block14 block14 block14 block14"
          "block15 block16 block17 block18"
          "block19 block19 block19 block19"
          "block20 block21 block22 block23"
          "block24 block24 block24 block24"
          "block25 block26 block27 block28"
          "block29 block29 block29 block29"
          "block30 block31 block32 block33"
          "block34 block34 block34 block34"
          "block35 block36 block37 block38"
          "block39 block39 block39 block39"
          "block40 block41 block42 block43"
          "block44 block44 block44 block44"
          "block45 block46 block47 block48"
          "block49 block49 block49 block49"
          "block50 block51 block52 block53"
          "block54 block54 block54 block54"
          "block55 block56 block57 block58"
          "block59 block59 block59 block59"
          "block60 block61 block62 block63"
          ;
      }
      .philips_epilators .models .models_block img{
        width: 148px;
        margin: 0 auto;
      }
      .philips_epilators .models .models_block .items1{
        grid-area: block1;
      }
      .philips_epilators .models .models_block .items2{
        grid-area: block2;
      }
      .philips_epilators .models .models_block .items3{
        grid-area: block3;
      }
      .philips_epilators .models .models_block .items4{
        grid-area: block4;
      }
      .philips_epilators .models .models_block .items5{
        grid-area: block5;
      }
      .philips_epilators .models .models_block .items6{
        grid-area: block6;
      }
      .philips_epilators .models .models_block .items7{
        grid-area: block7;
      }
      .philips_epilators .models .models_block .items8{
        grid-area: block8;
      }
      .philips_epilators .models .models_block .items9{
        grid-area: block9;
      }
      .philips_epilators .models .models_block .items10{
        grid-area: block10;
      }
      .philips_epilators .models .models_block .items11{
        grid-area: block11;
      }
      .philips_epilators .models .models_block .items12{
        grid-area: block12;
      }
      .philips_epilators .models .models_block .items13{
        grid-area: block13;
      }
      .philips_epilators .models .models_block .items14{
        grid-area: block14;
      }
      .philips_epilators .models .models_block .items15{
        grid-area: block15;
      }
      .philips_epilators .models .models_block .items16{
        grid-area: block16;
      }
      .philips_epilators .models .models_block .items17{
        grid-area: block17;
      }
      .philips_epilators .models .models_block .items18{
        grid-area: block18;
      }
      .philips_epilators .models .models_block .items19{
        grid-area: block19;
      }
      .philips_epilators .models .models_block .items20{
        grid-area: block20;
      }
      .philips_epilators .models .models_block .items21{
        grid-area: block21;
      }
      .philips_epilators .models .models_block .items22{
        grid-area: block22;
      }
      .philips_epilators .models .models_block .items23{
        grid-area: block23;
      }
      .philips_epilators .models .models_block .items24{
        grid-area: block24;
      }
      .philips_epilators .models .models_block .items25{
        grid-area: block25;
      }
      .philips_epilators .models .models_block .items26{
        grid-area: block26;
      }
      .philips_epilators .models .models_block .items27{
        grid-area: block27;
      }
      .philips_epilators .models .models_block .items28{
        grid-area: block28;
      }
      .philips_epilators .models .models_block .items29{
        grid-area: block29;
      }
      .philips_epilators .models .models_block .items30{
        grid-area: block30;
      }
      .philips_epilators .models .models_block .items31{
        grid-area: block31;
      }
      .philips_epilators .models .models_block .items32{
        grid-area: block32;
      }
      .philips_epilators .models .models_block .items33{
        grid-area: block33;
      }
      .philips_epilators .models .models_block .items34{
        grid-area: block34;
      }
      .philips_epilators .models .models_block .items35{
        grid-area: block35;
      }
      .philips_epilators .models .models_block .items36{
        grid-area: block36;
      }
      .philips_epilators .models .models_block .items37{
        grid-area: block37;
      }
      .philips_epilators .models .models_block .items38{
        grid-area: block38;
      }
      .philips_epilators .models .models_block .items39{
        grid-area: block39;
      }
      .philips_epilators .models .models_block .items40{
        grid-area: block40;
      }
      .philips_epilators .models .models_block .items41{
        grid-area: block41;
      }
      .philips_epilators .models .models_block .items42{
        grid-area: block42;
      }
      .philips_epilators .models .models_block .items43{
        grid-area: block43;
      }
      .philips_epilators .models .models_block .items44{
        grid-area: block44;
      }
      .philips_epilators .models .models_block .items45{
        grid-area: block45;
      }
      .philips_epilators .models .models_block .items46{
        grid-area: block46;
      }
      .philips_epilators .models .models_block .items47{
        grid-area: block47;
      }
      .philips_epilators .models .models_block .items48{
        grid-area: block48;
      }
      .philips_epilators .models .models_block .items49{
        grid-area: block49;
      }
      .philips_epilators .models .models_block .items50{
        grid-area: block50;
      }
      .philips_epilators .models .models_block .items51{
        grid-area: block51;
      }
      .philips_epilators .models .models_block .items52{
        grid-area: block52;
      }
      .philips_epilators .models .models_block .items53{
        grid-area: block53;
      }
      .philips_epilators .models .models_block .items54{
        grid-area: block54;
      }
      .philips_epilators .models .models_block .items55{
        grid-area: block55;
      }
      .philips_epilators .models .models_block .items56{
        grid-area: block56;
      }
      .philips_epilators .models .models_block .items57{
        grid-area: block57;
      }
      .philips_epilators .models .models_block .items58{
        grid-area: block58;
      }
      .philips_epilators .models .models_block .items59{
        grid-area: block59;
      }
      .philips_epilators .models .models_block .items60{
        grid-area: block60;
      }
      .philips_epilators .models .models_block .items61{
        grid-area: block61;
      }
      .philips_epilators .models .models_block .items62{
        grid-area: block62;
      }
      .philips_epilators .models .models_block .items63{
        grid-area: block63;
      }
      .philips_epilators .models .models_block .white_block_items{
        padding: 12px 0;
        font-size: 30px;
      }
      .philips_epilators .models .models_block .grey_items{
        padding: 8px 14px ;
        background: #D9D9D9;
        text-align: left;
      }
      .philips_epilators .models .models_block p{
        font-size: 14px;
      }
      .philips_epilators .models .models_block .grey_items p{
        font-size: 16px;
        font-weight: 500;
      }
      .philips_epilators .models .models_block .model_text{
        font-size: 18px;
        font-weight: 500;
      }
    }
    @media screen and (min-width:1024px) {
      .philips_epilators .models{
        display: block;
        padding: 40px 40px 0;
      }
      .philips_epilators .models .models_block img{
        width: 204px;
      }
      .philips_epilators .models .models_block .model_text{
        font-size: 24px;
      }
      .philips_epilators .models .models_block p{
        font-size: 18px;
      }
      .philips_epilators .models .models_block .grey_items p{
        font-size: 22px;
      }
      .philips_epilators .models .models_block .white_block_items{
        padding: 16px 0;
      }
      .philips_epilators .models .models_block .grey_items{
        padding: 12px 18px ;
      }
    }
    @media screen and (min-width:1366px) {
      .philips_epilators .models{
        display: block;
        padding: 60px 0px 0;
      }
      .philips_epilators .models .models_block img{
        width: 310px;
      }
      .philips_epilators .models .models_block .model_text{
        font-size: 26px;
      }
      .philips_epilators .models .models_block p{
        font-size: 24px;
      }
      .philips_epilators .models .models_block .grey_items p{
        font-size: 28px;
      }
      .philips_epilators .models .models_block .white_block_items{
        padding: 16px 0;
      }
      .philips_epilators .models .models_block .grey_items{
        padding: 18px 24px ;
      }
    }
