.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
    }
    .BCH3K img {
      margin: 0;
    }
    .BCH3K p {
      padding: 0;
      margin: 0;
      color: #000;
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .BCH3K h3 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      margin-bottom: 14px;
    }
    .BCH3K h2 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      /* margin-bottom: 12px; */
    }
    .BCH3K ul {
      list-style: disc;
      margin: 0;
    }
    .BCH3K ul li {
      line-height: normal;
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .BCH3K {
      overflow: hidden;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .BCH3K ul {
      padding: 0;
      padding-left: 20px;
    }
    .BCH3K ul li {
      padding: 0;
    }
    .BCH3K div {
      padding: 0;
    }
    div.BCH3K {
      padding: 0;
    }
    .BCH3K br {
      display: block;
    }
    .product__body .el-tabs__header {
      z-index: 6;
    }
    .BCH3K{
      max-width: 1366px;
      margin: 0 auto;
      overflow-x: hidden;
    }
    .BCH3K img{
      width: 100%;
      display: block;
    }


    .BCH3K .flexxo{
        position: relative;
        padding: 0 16px 32px;

    }

    .BCH3K .flexxo .logo_bosch{
        width: 89px;
        margin-top: 24px;
        margin-bottom: 16px;
    }
    .BCH3K .flexxo .flexxo_text{
        display: grid;
        gap: 8px;
        margin-bottom: 16px;
    }
    .BCH3K .flexxo .flexxo_font p{
        color: #666;
        font-size: 16px;
    }


    @media screen and (min-width:666px) {

        .BCH3K .flexxo{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding: 32px;
            align-items: center;
            gap: 24px;
        }
        .BCH3K .flexxo .logo_bosch{
            position: absolute;
            bottom: 28px;
            right: 32px;
            margin: 0;
        }
        .BCH3K .flexxo .flexxo_font{
            position: absolute;
            bottom: 28px;
            left: 32px;
        }
    }
    @media screen and (min-width:1024px) {
        .BCH3K h2 {
            font-size: 28px;
        }
        .BCH3K p {
            font-size: 18px;
        }
        .BCH3K h3 {
            font-size: 22px;
        }
        .BCH3K .flexxo{
            padding: 40px;
        }
        .BCH3K .flexxo .logo_bosch{
            bottom: 40px;
            right: 40px;
            width: 129px;
        }
        .BCH3K .flexxo .flexxo_font{
            bottom: 40px;
            left: 40px;
        }
        .BCH3K .flexxo .flexxo_font p{
            font-size: 20px;
        }

    }
    @media screen and (min-width:1366px) {
        .BCH3K h2 {
            font-size: 38px;
        }
        .BCH3K p {
            font-size: 24px;
        }
        .BCH3K h3 {
            font-size: 28px;
        }
        .BCH3K .flexxo{
            padding: 60px;
            gap: 0;
        }
        .BCH3K .flexxo .logo_bosch{
            bottom: 60px;
            right: 60px;
            width: 188px;
        }
        .BCH3K .flexxo .flexxo_font{
            bottom: 60px;
            left: 60px;
        }
        .BCH3K .flexxo .flexxo_font p{
            font-size: 24px;
        }

    }


    /* left_block */

    .BCH3K .left_block,
    .BCH3K .right_block{
        display: grid;
        gap: 24px;
        padding: 32px 16px;
        position: relative;
    }

    .BCH3K .left_block .left_block_text,
    .BCH3K .right_block .right_block_text{
        display: grid;
        gap: 18px;
    }

    .BCH3K .right_block .flexxo_font{
        position: absolute;
        bottom: 5px;
        left: 16px;        
    }
    .BCH3K .right_block .flexxo_font p{
        color: #666;
        font-size: 14px;
    }
    @media screen and (min-width:666px) {
        .BCH3K .left_block{
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            padding: 32px;
        
        }
        .BCH3K .right_block{
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            padding:0 32px;
        }
        .BCH3K .last_block{
            padding-bottom: 32px;
        }
        .BCH3K .left_block .left_block_text{
            grid-column-start: 2;
            grid-row-start: 1;
            text-align: center;
        }
        .BCH3K .right_block .right_block_text{
            text-align: center;
        }
        
    }

    @media screen and (min-width:1024px) {
        .BCH3K .left_block{
            padding: 42px 40px;
        }
        .BCH3K .right_block{
            padding:0 40px;
        }
        .BCH3K .last_block{
            padding-bottom: 42px;
        }
        .BCH3K .right_block .right_block_text,
        .BCH3K .left_block .left_block_text{
            gap: 22px;
        }
        .BCH3K .right_block .flexxo_font{
            bottom:42px;
            left: 42px;        
        }
        .BCH3K .right_block .flexxo_font p{
            font-size: 20px;
        }
    }

    @media screen and (min-width:1366px) {
        .BCH3K .left_block{
            padding: 60px;
            gap: 40px;
        }
        .BCH3K .right_block{
            padding:0 60px;
            gap: 40px;
        }
        .BCH3K .last_block{
            padding-bottom: 60px;
        }
        .BCH3K .right_block .right_block_text,
        .BCH3K .left_block .left_block_text{
            gap: 40px;
        }
        .BCH3K .right_block .flexxo_font{
            bottom:60px;
            left: 60px;        
        }
        .BCH3K .right_block .flexxo_font p{
            font-size: 24px;
        }
    }

    /* equipment */

    .BCH3K .equipment{
        display: grid;
        gap: 14px;
        padding: 32px 16px;
        text-align: center;
    }
    .BCH3K .equipment .equipment_block .equipment_item{
        grid-template-columns: 1fr 2.1fr;
        display: grid;
        align-items: center;
        gap: 16px;
    }
    .BCH3K .equipment .equipment_block{
        display: grid;
        gap: 24px;
    }

    .BCH3K .equipment .equipment_block .equipment_left{
        grid-template-columns: 2.1fr 1fr;
    }

    .BCH3K .equipment .equipment_block .equipment_left .equipment_item_text{
        grid-column-start: 2;
        grid-row-start: 1;
    }


    @media screen and (min-width:666px) {
        .BCH3K .equipment{
            padding: 32px;
        }
        .BCH3K .equipment .equipment_block{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .BCH3K .equipment .equipment_block .equipment_item{
            gap: 24px;
        }
    }

    @media screen and (min-width:1024px) {
        .BCH3K .equipment{
            padding: 42px 40px;
        }
        .BCH3K .equipment .equipment_block .equipment_item{
            gap: 28px;
        }
    }

    @media screen and (min-width:1366px) {
        .BCH3K .equipment{
            padding: 60px
        }
        .BCH3K .equipment .equipment_block .equipment_item{
            gap: 40px;
        }
    }


    /* history */

    .BCH3K .history{
        padding: 32px 19px;
        display: grid;
        gap: 20px;
        text-align: center;
    }

    @media screen and (min-width:666px) {
        .BCH3K .history{
            padding: 32px 89px;
            gap: 20px;
        }
        .BCH3K .history .history_img{
            padding: 0 94px;
        }
    }
    @media screen and (min-width:1024px) {
        .BCH3K .history{
            padding: 42px 193px;
            gap: 28px;
        }
        .BCH3K .history .history_img{
            padding: 0 53px;
        }
    }

    @media screen and (min-width:1366px) {
        .BCH3K .history{
            padding: 60px 302px;
            gap: 40px;
        }
        .BCH3K .history .history_img{
            padding: 0 43px;
        }
    }