.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
  }
  .S5400A img {
    margin: 0;
  }
  .S5400A p {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
  }
  .S5400A h3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; 
    margin: 0;
    margin-bottom: 16px;
  }

  .S5400A ul {
    list-style: none;
    margin: 0;
  }
  .S5400A ul li {
    line-height: normal;
  }
  .S5400A {
    overflow: hidden;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .S5400A ul {
    padding: 0;
  }
  .S5400A ul li {
    padding: 0;
  }
  .S5400A div {
    padding: 0;
  }
  div.S5400A {
    padding: 0;
  }
  .S5400A br {
    display: block;
  }
  .product__body .el-tabs__header {
    z-index: 6;
  }


  .S5400A {
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
  }
.S5400A img{
    width: 100%;
    display: block;
}


/* icons_multi */

.S5400A .icons_multi{
    padding: 40px 24px 0;
    display: grid;;
    gap: 16px;
}

.S5400A .icons_multi .icons_multi_block{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 16px;
}

@media screen and (min-width:666px){

    .S5400A h3{
        font-size:24px;
        margin-bottom: 24px;
    }
    .S5400A p{
        font-size: 16px;
    }

    .S5400A .smallest{
        font-size: 32px;
    }


.S5400A .icons_multi{
    padding: 64px 64px 0;
    gap: 24px;

}
    
}

@media screen and (min-width:1024px){ 

    .S5400A h3{
        font-size:32px;
        margin-bottom: 32px;
    }
    .S5400A p{
        font-size: 18px;
    }


    .S5400A .icons_multi{
        padding: 80px 80px 0;
    }

    .S5400A .smallest{
        font-size: 40px;
    }
}
@media screen and (min-width:1366px){ 

    .S5400A h3{
        font-size:40px;
    }
    .S5400A p{
        font-size: 24px;
    }
    .S5400A .icons_multi{
        padding: 80px 80px 0;
    }
    .S5400A .smallest{
        font-size: 50px;
    }
    .S5400A .icons_multi .icons_multi_block{
        gap: 24px;
    }
}




/* left_section */

.S5400A .left_section{
    padding: 40px 24px 0;
    text-align: center;
    display: grid;
    gap: 24px;
}



@media screen and (min-width:666px){
    .S5400A .left_section{
        padding: 64px 64px 0;
        grid-template-columns: 43.3% auto;
        align-items: center;
        text-align: left;
        gap: 51px;
        margin: 0 auto;
    }
    /* .S5400A .left_section .left_section_text{
        padding-left: 51px;
    } */
    .S5400A .left_section .left_section_text img{
        padding-bottom: 16px;
        margin: 0;
        margin-right: auto;
    }
    .S5400A .ferst_left{
        padding-top: 40px;
    }
}
@media screen and (min-width:1024px){
    .S5400A .left_section{
        padding: 80px 65px 0;
        gap: 73px;

    }
    .S5400A .ferst_left{
        padding-top: 56px;
    }

}
@media screen and (min-width:1366px){
    .S5400A .left_section{
        grid-template-columns: 42.3% auto;
        gap: 105px;
    }
    .S5400A .left_section .left_section_text img{
        width: 121px;
        margin-bottom: 24px;

    }

}
/* rigth_section */
.S5400A .rigth_section{
    padding: 40px 24px 0;
    text-align: center;
    display: grid;
    gap: 24px;
}

.S5400A .rigth_section .rigth_section_text img{
    width: 136px;
    margin: 0 auto;
    margin-bottom: 16px;
}

@media screen and (min-width:666px){

.S5400A .rigth_section{
     padding: 64px 64px 0;
        grid-template-columns:auto 43.3% ;
        align-items: center;
        text-align: left;
        gap: 51px;
        margin: 0 auto;

    }
    .S5400A .rigth_section .rigth_section_text{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .S5400A .rigth_section .rigth_section_text img{
        margin: 0;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .S5400A .rigth_section .rigth_section_text img{
        margin-bottom: 24px;
    }
}
@media screen and (min-width:1024px){
    .S5400A .rigth_section{
     padding: 80px 64px 0;
     gap: 73px;
    }
    .S5400A .rigth_section .rigth_section_text img{
        width: 171px;
        margin-bottom: 32px;
    }
}
@media screen and (min-width:1366px){
    .S5400A .rigth_section{
        grid-template-columns:auto 42.3% ;
        gap:105px
    }
    .S5400A .rigth_section .rigth_section_text img{
        width: 206px;
        margin-bottom: 24px;
    }

}

/* section_center */
.S5400A .section_center{
    text-align: center;
    padding: 40px 24px 0;
    display: grid;
    gap: 24px;
    position: relative;
}


.S5400A .section_center .center_img{
    display: grid;
    gap: 12px;
}

.S5400A .section_center .center_block_img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
}
.S5400A .section_center .center_block_img img{
    width: 200%;
    margin: 0 auto;
}

.S5400A .section_center .bloc_img_1 .img_block{
    background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725624/image%20330.png?_t=1693414905");
    background-size: 200%;
    background-position: center;
}
.S5400A .section_center .bloc_img_2 .img_block{
    background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725624/image%20331.png?_t=1693414905");
    background-size: 200%;
    background-position: center;
}
.S5400A .section_center .bloc_img_3 .img_block{
    background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725624/image%20332.png?_t=1693414905");
    background-size: 200%;
    background-position: center;
}

.S5400A .section_center .bloc_img_1,
.S5400A .section_center .bloc_img_2,
.S5400A .section_center .bloc_img_3{
    display: grid;
    gap: 16px;
}

.S5400A .section_center .bloc_img_1 p,
.S5400A .section_center .bloc_img_2 p,
.S5400A .section_center .bloc_img_3 p{
    font-size: 16px;
}


@media screen and (min-width:666px){
    .S5400A .section_center{
        padding: 64px 65px 0;
    }

    .S5400A .section_center .center_img{
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }

    .S5400A .section_center .bloc_img_1 .img_block{
        background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725624/image%20330.png?_t=1693414905");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .S5400A .section_center .bloc_img_2 .img_block{
        background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725624/image%20331.png?_t=1693414905");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

    }
    .S5400A .section_center .bloc_img_3 .img_block{
        background-image: url("https://i.citrus.world/uploads/content/product-photos/kirsh/725624/image%20332.png?_t=1693414905");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

    }
    .S5400A .section_center .center_block_img img{
        width: 100%;
    }
    .S5400A .section_center .center_block_img{
        gap: 24px;
    }
    .S5400A .section_center h3{
        padding: 0 60px;
    }
    
}
@media screen and (min-width:1024px){
    .S5400A .section_center{
        padding: 80px 64px 0;
    }
    .S5400A .section_center .last_text{
        padding: 80px 436px 80px 80px;
    }
    .S5400A .section_center .last_text p{
        font-size: 18px;
    }
    .S5400A .section_center h3{
        padding: 0;
    }
    .S5400A .section_center .bloc_img_1 p, 
    .S5400A .section_center .bloc_img_2 p, 
    .S5400A .section_center .bloc_img_3 p{
        font-size: 18px;
    }
    .S5400A .section_center .bloc_img_1,
    .S5400A .section_center .bloc_img_2,
    .S5400A .section_center .bloc_img_3{
        gap: 24px;
    }
}

@media screen and (min-width:1024px){

    .S5400A .section_center .last_text{
        padding: 85.5px 631px 85.5px 64px;
    }
    .S5400A .section_center .last_text p{
        font-size: 24px;
    }
    .S5400A .section_center .bloc_img_1 p, 
    .S5400A .section_center .bloc_img_2 p, 
    .S5400A .section_center .bloc_img_3 p{
        font-size: 24px;
    }
    .S5400A .section_center .bloc_img_1,
    .S5400A .section_center .bloc_img_2,
    .S5400A .section_center .bloc_img_3{
        gap: 32px;
    }
}