.product__description.base-padding {
    padding: 0;
    border-radius: 0px;
    }
    .PHILIPS_EP img {
      margin: 0;
    }
    .PHILIPS_EP p {
      padding: 0;
      margin: 0;
      color: #000;
      font-family: 'Roboto' ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .PHILIPS_EP h3 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      margin-bottom: 14px;
    }
    .PHILIPS_EP h2 {
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin: 0;
      margin-bottom: 12px;
    }
    .PHILIPS_EP ul {
      list-style: disc;
      margin: 0;
    }
    .PHILIPS_EP ul li {
      line-height: normal;
      color: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .PHILIPS_EP {
      overflow: hidden;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .PHILIPS_EP ul {
      padding: 0;
      padding-left: 20px;
    }
    .PHILIPS_EP ul li {
      padding: 0;
    }
    .PHILIPS_EP div {
      padding: 0;
    }
    div.PHILIPS_EP {
      padding: 0;
    }
    .PHILIPS_EP br {
      display: block;
    }
    .product__body .el-tabs__header {
      z-index: 6;
    }
    .PHILIPS_EP{
      max-width: 1366px;
      margin: 0 auto;
      overflow-x: hidden;
    }
    .PHILIPS_EP img{
      width: 100%;
      display: block;
    }
    .PHILIPS_EP .styler{
      display: grid;
      position: relative;
      text-align: center;
    }
    .PHILIPS_EP .styler .styler_text{
      padding: 40px 16px 10px;
    }
    .PHILIPS_EP .styler .styler_text h3{
      font-size: 16px;
      padding: 0 16px;
    }
    .PHILIPS_EP .styler .styler_img{
      position: relative;
    }
    .PHILIPS_EP .styler .styler_img .logo_philips{
      position: absolute;
      top: 0;
      left: 16px;
      width: 60px;
    }
    .PHILIPS_EP .styler .styler_img .number_one{
      position: absolute;
      bottom: 0;
      left: 16px;
      width: 60px;
    }




    @media screen and (min-width:666px) {
      .PHILIPS_EP h2{
        font-size: 24px;
      }
      .PHILIPS_EP .styler .styler_text h3{
        font-size: 18px;
      }
      .PHILIPS_EP .styler .styler_img .logo_philips{
        width: 89px;
        left: 32px;
      }
      .PHILIPS_EP p{
        font-size: 16px;
      }
      .PHILIPS_EP ul li {
        font-size: 16px;
      }
      .PHILIPS_EP h3 {
        font-size: 20px;
      }

      .PHILIPS_EP .styler .styler_img .number_one{
        left: 32px;
        width: 120px;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP h2{
        font-size: 26px;
      }
      .PHILIPS_EP .styler .styler_text h3{
        font-size: 24px;
      }
      .PHILIPS_EP .styler .styler_img .logo_philips{
        width: 129px;
        left: 40px;
      }
      .PHILIPS_EP p{
        font-size: 18px;
      }
      .PHILIPS_EP h3 {
        font-size: 24px;
      }
      .PHILIPS_EP ul li {
        font-size: 18px;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP h2{
        font-size: 36px;
      }
      .PHILIPS_EP .styler .styler_text h3{
        font-size: 32px;
      }
      .PHILIPS_EP .styler .styler_img .logo_philips{
        width: 188px;
        left: 60px;
      }
      .PHILIPS_EP p{
        font-size: 22px;
      }
      .PHILIPS_EP h3 {
        font-size: 32px;
        margin-bottom: 24px;
      }
      .PHILIPS_EP ul li {
        font-size: 22px;
      }
      .PHILIPS_EP .styler .styler_text{
        padding: 60px 16px 30px;
      }
      .PHILIPS_EP .styler .styler_img .number_one{
        left: 51px;
        width: 278px;
      }
    }
    /* main_characteristics */
    .PHILIPS_EP .main_characteristics{
      padding: 40px 0;
    }
    .PHILIPS_EP .main_characteristics h3{
      text-align: center;
    }
    .PHILIPS_EP .main_characteristics .main_charact_block{
      display: grid;
      gap: 16px;
      padding: 0px 16px;
     ;
    }
    .PHILIPS_EP .main_characteristics .item_charact{
      display: grid;
      grid-template-columns: 40px auto;
      gap: 16px;
      align-items: center;
    }
    .PHILIPS_EP .main_characteristics .item_charact p{
      font-weight: 500;
    }
    .PHILIPS_EP .main_characteristics .item_charact img{
      width: 40px;
    }

    .PHILIPS_EP .main_characteristics .charact_block h3{
        text-align: left;
        margin-bottom: 0;
        font-weight: 300;
    }
    .PHILIPS_EP .main_characteristics .charact_block p{
        text-align: left;
        margin-bottom: 0;
        font-weight: 300;
    }



    @media screen and (min-width:666px) {
      .PHILIPS_EP .main_characteristics{
        padding: 32px 0;
      }
      .PHILIPS_EP .main_characteristics .item_charact img{
        width: 60px;
      }
      .PHILIPS_EP .main_characteristics .item_charact{
        grid-template-columns: 60px auto;
        gap: 24px;
      }
      .PHILIPS_EP .main_characteristics .item_charact p{
        font-size: 20px;
      }
      .PHILIPS_EP .main_characteristics .main_charact_block{
        padding:0 40px;
        gap: 30px;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .main_characteristics{
        padding: 40px 0;
      }
      .PHILIPS_EP .main_characteristics .item_charact img{
        width: 80px;
      }
      .PHILIPS_EP .main_characteristics .item_charact{
        grid-template-columns: 80px auto;
      }
      .PHILIPS_EP .main_characteristics .item_charact p{
        font-size: 24px;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .main_characteristics{
        padding: 60px 0 ;
      }
      .PHILIPS_EP .main_characteristics .item_charact img{
        width: 120px;
      }
      .PHILIPS_EP .main_characteristics .item_charact{
        grid-template-columns: 120px auto;
        gap: 40px;
      }
      .PHILIPS_EP .main_characteristics .main_charact_block{
        gap: 40px;
        padding: 0px 166px;
      }



      .PHILIPS_EP .adapt{
        padding: 0 380px;
      }
    }
    /* SenseIQ_left */
    .PHILIPS_EP .SenseIQ_left{
      padding:0 16px 40px ;
      display: grid;
      gap: 24px;
    }
    .PHILIPS_EP .SenseIQ_left img{
      border-radius: 10px;
    }
    @media screen and (min-width:666px) {
      .PHILIPS_EP .SenseIQ_left{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        align-items: center;
        padding:32px 32px 0;
      }
      .PHILIPS_EP .SenseIQ_left .SenseIQ_left_text{
        grid-column-start: 2;
        grid-row-start: 1;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .SenseIQ_left{
        gap: 32px;
        padding:40px 40px 0;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .SenseIQ_left{
        gap: 40px;
        padding:60px 166px 0;
      }
    }
    /* SenseIQ_right */
    .PHILIPS_EP .SenseIQ_right{
      padding:0 16px 40px ;
      display: grid;
      gap: 24px;
    }
    .PHILIPS_EP .SenseIQ_right img{
      border-radius: 10px;
    }
    @media screen and (min-width:666px) {
      .PHILIPS_EP .SenseIQ_right{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        align-items: center;
        padding: 32px 32px 0;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .SenseIQ_right{
        gap: 32px;
        padding: 40px 40px 0;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .SenseIQ_right{
        gap: 40px;
        padding: 60px 166px 0;
      }
    }
    /* improved_care */
    .PHILIPS_EP .improved_care .improved_care_text{
      padding: 40px 16px 10px;
      text-align: center;
    }
    .PHILIPS_EP .improved_care .improved_care_text h3{
      padding: 0 20px;
    }
    .PHILIPS_EP .thermal_insulation{
      padding-bottom: 40px;
    }
    @media screen and (min-width:666px) {
      .PHILIPS_EP .improved_care .improved_care_text{
        padding: 40px 50px 32px;
      }
      .PHILIPS_EP .improved_care .improved_care_text h2{
        padding: 0 50px;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .improved_care .improved_care_text{
        padding: 40px 150px ;
      }
      .PHILIPS_EP .improved_care .improved_care_text h2{
        padding: 0 30px;
      }
      .PHILIPS_EP .thermal_insulation{
        padding-bottom: 0;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .improved_care .improved_care_text{
        padding: 120px 266px 60px;
      }
      .PHILIPS_EP .improved_care .improved_care_text h2{
        padding: 0 50px;
        margin-bottom: 16px;
      }
      .PHILIPS_EP .thermal_insulation{
        padding-bottom: 0;
      }
    }
    /* SenseIQ_technology */
    .PHILIPS_EP .SenseIQ_technology{
      padding: 40px 16px 0;
    }
    .PHILIPS_EP .SenseIQ_technology img{
      border-radius: 10px;
    }
    .PHILIPS_EP .SenseIQ_technology .SenseIQ_technology_block{
      display: grid;
      text-align: left;
    }
    .PHILIPS_EP .SenseIQ_technology .SenseIQ_technology_items{
      display: grid;
      gap: 16px;
    }
    .PHILIPS_EP .SenseIQ_technology .SenseIQ_technology_block{
      display: grid;
      gap: 24px;
    }
    .PHILIPS_EP .SenseIQ_technology h2{
        margin-bottom: 30px;
        font-size: 20px;
      }
      

      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items_text{
        padding: 20px 16px 0;
        text-align: center;
      }

    @media screen and (min-width:666px) {
      .PHILIPS_EP .SenseIQ_technology{
        padding: 40px 32px 0;
        display: grid;
        gap: 10px;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_technology_block{
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items{
        grid-row-start: 2;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_technology_items{
        gap: 24px;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items h3{
        margin-bottom: 10px;
        font-size: 20px;
      }

      .PHILIPS_EP .SenseIQ_technology h2{
        margin-bottom: 0px;
        font-size: 24px;
      }
      

    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .SenseIQ_technology{
        padding: 40px 40px 0;
        gap: 24px;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items h3{
        margin-bottom: 12px;
        font-size: 24px;
      }
      .PHILIPS_EP .SenseIQ_technology h2{
        font-size: 26px;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items_text{
        padding: 20px 50px 0;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .SenseIQ_technology{
        padding: 60px 60px 0;
        gap: 40px;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items h3{
        margin-bottom: 12px;
        font-size: 30px;
      }

      .PHILIPS_EP .SenseIQ_technology h2{
        font-size: 32px;
      }
      .PHILIPS_EP .SenseIQ_technology .SenseIQ_items_text{
        padding: 20px 140px 0;
      }
    }
    /* SenseIQ_line */
    .PHILIPS_EP .SenseIQ_line .SenseIQ_line_text{
      padding: 0 16px;
      text-align: center;
    }
    .PHILIPS_EP .SenseIQ_line .product_line{
      position: relative;
    }
    .PHILIPS_EP .SenseIQ_line .styler_block{
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: space-around;
      position: absolute;
      bottom: 0 ;
      background: #ffffff26;
      backdrop-filter: blur(6px);
      padding: 6px;
    }
    .PHILIPS_EP .SenseIQ_line .styler_block p{
      color: #ffff;
    }
    .PHILIPS_EP .SenseIQ_line .styler_item_big{
      font-weight: 500;
    }
    @media screen and (min-width:666px) {
      .PHILIPS_EP .SenseIQ_line .SenseIQ_line_text{
        padding: 32px 32px 0;
      }
      .PHILIPS_EP .SenseIQ_line .styler_block p{
        font-size: 20px;
      }
      .PHILIPS_EP .SenseIQ_line .styler_block{
        padding: 12px;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .SenseIQ_line .SenseIQ_line_text{
        padding: 40px 32px 32px;
      }
      .PHILIPS_EP .SenseIQ_line .styler_block p{
        font-size: 24px;
      }
      .PHILIPS_EP .SenseIQ_line .styler_block{
        padding: 18px;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .SenseIQ_line .SenseIQ_line_text{
        padding: 60px 450px 60px;
      }
      .PHILIPS_EP .SenseIQ_line .styler_block p{
        font-size: 32px;
      }
      .PHILIPS_EP .SenseIQ_line .styler_block{
        padding: 24px;
      }
    }
    
/* models */
 .PHILIPS_EP .models{
    display: none;
  }
  @media screen and (min-width:666px) {
    .PHILIPS_EP .models{
      display: block;
      padding: 40px 32px 0;
    }
    .PHILIPS_EP .models .models_block{
      display:grid;
      align-items: center;
      text-align: center;
      grid-template-columns: repeat(4,1fr);
      grid-template-areas: 
        "block1 block2 block3 block4"
        "block5 block6 block7 block8"
        "block9 block9 block9 block9"
        "block10 block11 block12 block13"
        "block14 block14 block14 block14"
        "block15 block16 block17 block18"
        "block19 block19 block19 block19"
        "block20 block21 block22 block23"
        "block24 block24 block24 block24"
        "block25 block26 block27 block28"
        "block29 block29 block29 block29"
        "block30 block31 block32 block33"
        "block34 block34 block34 block34"
        "block35 block36 block37 block38"
        "block39 block39 block39 block39"
        "block40 block41 block42 block43"
        "block44 block44 block44 block44"
        "block45 block46 block47 block48"
        "block49 block49 block49 block49"
        "block50 block51 block52 block53"
        "block54 block54 block54 block54"
        "block55 block56 block57 block58"
        "block59 block59 block59 block59"
        "block60 block61 block62 block63"
        ;
    }
    .PHILIPS_EP .models .models_block img{
      width: 148px;
      margin: 0 auto;
    }
    .PHILIPS_EP .models .models_block .items1{
      grid-area: block1;
    }
    .PHILIPS_EP .models .models_block .items2{
      grid-area: block2;
    }
    .PHILIPS_EP .models .models_block .items3{
      grid-area: block3;
    }
    .PHILIPS_EP .models .models_block .items4{
      grid-area: block4;
    }
    .PHILIPS_EP .models .models_block .items5{
      grid-area: block5;
    }
    .PHILIPS_EP .models .models_block .items6{
      grid-area: block6;
    }
    .PHILIPS_EP .models .models_block .items7{
      grid-area: block7;
    }
    .PHILIPS_EP .models .models_block .items8{
      grid-area: block8;
    }
    .PHILIPS_EP .models .models_block .items9{
      grid-area: block9;
    }
    .PHILIPS_EP .models .models_block .items10{
      grid-area: block10;
    }
    .PHILIPS_EP .models .models_block .items11{
      grid-area: block11;
    }
    .PHILIPS_EP .models .models_block .items12{
      grid-area: block12;
    }
    .PHILIPS_EP .models .models_block .items13{
      grid-area: block13;
    }
    .PHILIPS_EP .models .models_block .items14{
      grid-area: block14;
    }
    .PHILIPS_EP .models .models_block .items15{
      grid-area: block15;
    }
    .PHILIPS_EP .models .models_block .items16{
      grid-area: block16;
    }
    .PHILIPS_EP .models .models_block .items17{
      grid-area: block17;
    }
    .PHILIPS_EP .models .models_block .items18{
      grid-area: block18;
    }
    .PHILIPS_EP .models .models_block .items19{
      grid-area: block19;
    }
    .PHILIPS_EP .models .models_block .items20{
      grid-area: block20;
    }
    .PHILIPS_EP .models .models_block .items21{
      grid-area: block21;
    }
    .PHILIPS_EP .models .models_block .items22{
      grid-area: block22;
    }
    .PHILIPS_EP .models .models_block .items23{
      grid-area: block23;
    }
    .PHILIPS_EP .models .models_block .items24{
      grid-area: block24;
    }
    .PHILIPS_EP .models .models_block .items25{
      grid-area: block25;
    }
    .PHILIPS_EP .models .models_block .items26{
      grid-area: block26;
    }
    .PHILIPS_EP .models .models_block .items27{
      grid-area: block27;
    }
    .PHILIPS_EP .models .models_block .items28{
      grid-area: block28;
    }
    .PHILIPS_EP .models .models_block .items29{
      grid-area: block29;
    }
    .PHILIPS_EP .models .models_block .items30{
      grid-area: block30;
    }
    .PHILIPS_EP .models .models_block .items31{
      grid-area: block31;
    }
    .PHILIPS_EP .models .models_block .items32{
      grid-area: block32;
    }
    .PHILIPS_EP .models .models_block .items33{
      grid-area: block33;
    }
    .PHILIPS_EP .models .models_block .items34{
      grid-area: block34;
    }
    .PHILIPS_EP .models .models_block .items35{
      grid-area: block35;
    }
    .PHILIPS_EP .models .models_block .items36{
      grid-area: block36;
    }
    .PHILIPS_EP .models .models_block .items37{
      grid-area: block37;
    }
    .PHILIPS_EP .models .models_block .items38{
      grid-area: block38;
    }
    .PHILIPS_EP .models .models_block .items39{
      grid-area: block39;
    }
    .PHILIPS_EP .models .models_block .items40{
      grid-area: block40;
    }
    .PHILIPS_EP .models .models_block .items41{
      grid-area: block41;
    }
    .PHILIPS_EP .models .models_block .items42{
      grid-area: block42;
    }
    .PHILIPS_EP .models .models_block .items43{
      grid-area: block43;
    }
    .PHILIPS_EP .models .models_block .items44{
      grid-area: block44;
    }
    .PHILIPS_EP .models .models_block .items45{
      grid-area: block45;
    }
    .PHILIPS_EP .models .models_block .items46{
      grid-area: block46;
    }
    .PHILIPS_EP .models .models_block .items47{
      grid-area: block47;
    }
    .PHILIPS_EP .models .models_block .items48{
      grid-area: block48;
    }
    .PHILIPS_EP .models .models_block .items49{
      grid-area: block49;
    }
    .PHILIPS_EP .models .models_block .items50{
      grid-area: block50;
    }
    .PHILIPS_EP .models .models_block .items51{
      grid-area: block51;
    }
    .PHILIPS_EP .models .models_block .items52{
      grid-area: block52;
    }
    .PHILIPS_EP .models .models_block .items53{
      grid-area: block53;
    }
    .PHILIPS_EP .models .models_block .items54{
      grid-area: block54;
    }
    .PHILIPS_EP .models .models_block .items55{
      grid-area: block55;
    }
    .PHILIPS_EP .models .models_block .items56{
      grid-area: block56;
    }
    .PHILIPS_EP .models .models_block .items57{
      grid-area: block57;
    }
    .PHILIPS_EP .models .models_block .items58{
      grid-area: block58;
    }
    .PHILIPS_EP .models .models_block .items59{
      grid-area: block59;
    }
    .PHILIPS_EP .models .models_block .items60{
      grid-area: block60;
    }
    .PHILIPS_EP .models .models_block .items61{
      grid-area: block61;
    }
    .PHILIPS_EP .models .models_block .items62{
      grid-area: block62;
    }
    .PHILIPS_EP .models .models_block .items63{
      grid-area: block63;
    }
    .PHILIPS_EP .models .models_block .white_block_items{
      padding: 12px 0;
      font-size: 30px;
    }
    .PHILIPS_EP .models .models_block .grey_items{
      padding: 8px 14px ;
      background: #D9D9D9;
      text-align: left;
    }
    .PHILIPS_EP .models .models_block p{
      font-size: 14px;
    }
    .PHILIPS_EP .models .models_block .grey_items p{
      font-size: 16px;
      font-weight: 500;
    }
    .PHILIPS_EP .models .models_block .model_text{
      font-size: 18px;
      font-weight: 500;
    }
  }
  @media screen and (min-width:1024px) {
    .PHILIPS_EP .models{
      display: block;
      padding: 40px 40px 0;
    }
    .PHILIPS_EP .models .models_block img{
      width: 204px;
    }
    .PHILIPS_EP .models .models_block .model_text{
      font-size: 24px;
    }
    .PHILIPS_EP .models .models_block p{
      font-size: 18px;
    }
    .PHILIPS_EP .models .models_block .grey_items p{
      font-size: 22px;
    }
    .PHILIPS_EP .models .models_block .white_block_items{
      padding: 16px 0;
    }
    .PHILIPS_EP .models .models_block .grey_items{
      padding: 12px 18px ;
    }
  }
  @media screen and (min-width:1366px) {
    .PHILIPS_EP .models{
      display: block;
      padding: 60px 0px 0;
    }
    .PHILIPS_EP .models .models_block img{
      width: 310px;
    }
    .PHILIPS_EP .models .models_block .model_text{
      font-size: 26px;
    }
    .PHILIPS_EP .models .models_block p{
      font-size: 24px;
    }
    .PHILIPS_EP .models .models_block .grey_items p{
      font-size: 28px;
    }
    .PHILIPS_EP .models .models_block .white_block_items{
      padding: 16px 0;
    }
    .PHILIPS_EP .models .models_block .grey_items{
      padding: 18px 24px ;
    }
  }
    /* footnote */
    .PHILIPS_EP .footnote{
      padding: 40px 16px;
    }
    .PHILIPS_EP .footnote p{
      color: rgba(0, 0, 0, 0.60);
      font-size: 12px;
    }
    @media screen and (min-width:666px) {
      .PHILIPS_EP .footnote{
        padding: 40px 32px;
      }
    }
    @media screen and (min-width:1024px) {
      .PHILIPS_EP .footnote{
        padding: 40px 40px;
      }
      .PHILIPS_EP .footnote p{
        font-size: 14px;
      }
    }
    @media screen and (min-width:1366px) {
      .PHILIPS_EP .footnote{
        padding: 60px 166px;
      }
    }